::ng-deep .custom-dialog-container {
  .mat-mdc-dialog-container {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  
  .mdc-dialog__surface {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}
