<div [ngClass]="dialogRef == undefined ? 'card limit' : 'card cancel-margins limit'">
    <div class="card-body" *ngIf="sent">
        <h2 class="text-center text-muted" >
            {{ 'ticket.sent' | translate }}
        </h2>
        <img class="mt-5 center-svg fade-in" src="assets/svgs/technician.svg" style="min-width: 200px;">
    </div>
    
    <div class="card-body animate__bounce" *ngIf="sent==false">
        <h2>
            {{ 'ticket.create' | translate }}
        </h2>
        <form *ngIf="formlyData.isVisible" [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 col-lg-4 col-sm-12">
                        <app-chips-autocomplete #equipment [label]="translate.instant('ticket.selectEquipmentLabel')"
                            [endPoint]="assetService"
                            [alreadySelected]="assetAlreadySelected">
                        </app-chips-autocomplete>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12">
                        <app-chips-autocomplete #rooms [label]="translate.instant('ticket.selectRoomLabel')"
                            [endPoint]="roomService" 
                            [alreadySelected]="roomsAlreadySelected">
                        </app-chips-autocomplete>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-12">
                        <app-chips-autocomplete #personnel [label]="translate.instant('ticket.selectPeopleLabel')"
                            [endPoint]="personnelService"
                            [alreadySelected]="personnelAlreadySelected">
                        </app-chips-autocomplete>
                    </div>
                </div>
            </div>
            <div *ngIf="isRegistered">
                <hr>
                <app-chips-autocomplete #assignees [label]="translate.instant('ticket.assignToLabel')"
                    [endPoint]="userService" 
                    [alreadySelected]="assigneesAlreadySelected">
                </app-chips-autocomplete>
            </div>

            <button 
                mat-button
                type="submit" 
                class="btn-gradient-primary mr-2"
                [disabled]="formlyData.form.status=='INVALID'">
                {{ 'form.submit' | translate }}
            </button>
        </form>
    </div>
</div>