<!-- <h2>Equipment Analytics</h2> -->
<div class="row" *ngIf="
assetTotalAmount != undefined &&
assetTotalCost != undefined &&
assetUtilizationRate != undefined &&
assetTypeRate != undefined &&
assetAllocationRate != undefined
">
    <div class="col-lg-3 col-md-3 p-1">
        <app-simple-info-card
        [title]="translate.instant('analytics.assetAmount')"
        [mainText]="assetTotalAmount.toString()"
        [secondaryText]="assetTotalCost">
        </app-simple-info-card>
    </div>

    <div class="col-lg-3 col-md-3 p-1">
        <app-piechart-card
        [title]="translate.instant('analytics.assetUsingRate')"
    [rates]="assetUtilizationRate">
        </app-piechart-card>
    </div>

    <div class="col-lg-3 col-md-3 p-1">
        <app-piechart-card
        [title]="translate.instant('analytics.assetTypeRate')"
        [rates]="assetTypeRate">
        </app-piechart-card>
    </div>

    <div class="col-lg-3 col-md-3 p-1">
        <app-piechart-card
        [title]="translate.instant('analytics.assetAllocationRate')"
        [rates]="assetAllocationRate">
        </app-piechart-card>
    </div>
</div>