<div class="container">
  <h2>Your notifications</h2>
  <hr class="mb-2">

  <ng-container *ngIf="notifications == undefined || notifications.length == 0">
    <p class="text-muted text-center">Nothing to display...</p>
  </ng-container>
</div>
<ng-container *ngIf="notifications != undefined">
    <div class="dropdown-item-simple" *ngFor="let noti of notifications| paginate: { itemsPerPage: 20, currentPage: pageNumber, id: 'issues' }; let i = index">
        <p class="preview-subject mb-0">
            <b>Notification title {{ noti.title }}</b>
        </p>
        <button type="button" class="close" (click)="removeNotification(noti.id, ((pageNumber-1) * 10) + i)">
          <span aria-hidden="true">&times;</span>
        </button>
        <small class="text-muted">{{ noti.dateCreated | date:'short' }}</small>
        <p class="text-gray mb-0">
          {{ noti.message }}
        </p>
    </div>
</ng-container>