@import '../../../styles.scss';

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-elevation-z0:hover {
  border: 1px solid #e5e7eb;
  box-shadow: none;
}

input[type="button"] {
  margin-top: 20px;
}

h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.node {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: theme-color(primary);
}

.divider {
  padding: 10px;
  margin-left: 3px;
  border-left: 4px solid theme-color(secondary);
}

li p {
  display: inline-block;
  margin-left: 25px;
}

li {
  list-style: none;
  line-height: 1px;
}