<div class="card">
    <div class="card-body">
        <app-summary-equipment-analytics></app-summary-equipment-analytics>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div class="card-title">Equipments</div>
        <br>
        <button mat-button (click)="addNew()">+ Add new</button>
        <button mat-button (click)="allocateSelected()">Allocate selected items</button>
        <hr>
        <app-ag-grid-equipment #agGridEquipment>

        </app-ag-grid-equipment>
    </div>
</div>
