<ng-container *ngIf="claims.canManage || claims.canView; else elseBlock">
    <div class="row flex-container">
        <div class="col-md-12" id="section1">
            <app-summary-equipment-analytics>
            </app-summary-equipment-analytics>
        </div>
        <div class="col-md-12" id="section2">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="page-header">
                        <h2 class="page-title mb-0">
                            {{ 'entities.registeredEquipment' | translate }}
                        </h2>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb bg-transparent">
                                <li class="breadcrumb-item" aria-current="page">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        class="float-right">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <div class="p-2 text-center">
                                            <mat-slide-toggle class="d-block" [(ngModel)]="includeDerived">
                                                {{ 'equipment.includeChild' | translate }}
                                            </mat-slide-toggle>
                                            <small class="text-muted">
                                                {{ 'equipment.includeChildTip' | translate }}
                                            </small>
                                        </div>
                                    </mat-menu>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-block">
                        <app-multiple-selection-dropdown
                            label="Test label" 
                            [options]="testOptions"
                            (selectionChanged)="typesChanged($event)"
                            [preOptions]="testPreOptions">
                        </app-multiple-selection-dropdown>
                    </div>
                    <ng-container *ngIf="claims.canManage">
                        <button mat-button class="d-md-inline d-block" (click)="addNew()">
                            <mat-icon class="text-primary">add</mat-icon>
                            {{ 'equipment.add' | translate }}
                        </button>
                        <button mat-button class="d-md-inline d-block" (click)="allocateSelected()">
                            <mat-icon class="text-primary">double_arrow</mat-icon>
                            {{ 'equipment.allocateSelected' | translate }}
                        </button>
                        <button mat-button class="d-md-inline d-block" (click)="addLogSelected()">
                            <mat-icon class="text-primary">timeline</mat-icon>
                            {{ 'equipment.addLogForSelected' | translate }}
                        </button>
                        <button mat-button class="d-md-inline d-block" (click)="addIssue()">
                            <mat-icon class="text-primary">feedback</mat-icon>
                            {{ 'equipment.includeSelectedInATicket' | translate }}
                        </button>
                        <hr class="separator">
                    </ng-container>
                    <app-ag-grid-equipment #agGridEquipment [includeDerived]="includeDerived">
                    </app-ag-grid-equipment>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #elseBlock>
    <p class="text-center text-muted">
        Insuficient permissions.
    </p>
</ng-template>