<div class="sn-wrapper">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 343 197" style="enable-background:new 0 0 343 197;" xml:space="preserve">
        <style type="text/css">
            .st0 {
                display: none;
            }

            .st1 {
                display: inline;
            }

            .st2 {
                fill: #4D4D4D;
            }

            .st3 {
                fill: #1B1464;
            }

            .st4 {
                display: inline;
                fill: #FCFCFC;
            }

            .st5 {
                font-family: 'Verdana';
            }

            .st6 {
                font-size: 158.5602px;
            }

            .st7 {
                font-size: 20px;
            }
        </style>
        <g id="Layer_1" class="st0">
            <g class="st1">
                <rect x="-201.5" y="0.5" class="st2" width="750" height="260" />
                <path d="M548,1v259h-749V1H548 M549,0h-751v261h751V0L549,0z" />
            </g>
            <g class="st1">

                <rect x="-206.32" y="118.89" transform="matrix(0.8417 -0.54 0.54 0.8417 -155.8271 -10.2303)" class="st3"
                    width="221.93" height="283.45" />
                <path d="M-78.64,82.1L73.88,319.83l-185.95,119.3L-264.6,201.4L-78.64,82.1 M-78.34,80.72L-265.98,201.1l153.6,239.42
           L75.26,320.13L-78.34,80.72L-78.34,80.72z" />
            </g>
            <g class="st1">
                <rect x="682.5" y="15.5" class="st2" width="750" height="260" />
                <path d="M1432,16v259H683V16H1432 M1433,15H682v261h751V15L1433,15z" />
            </g>
            <g class="st1">

                <rect x="354.68" y="-142.11" transform="matrix(0.8417 -0.54 0.54 0.8417 73.9322 251.3803)" class="st3"
                    width="221.93" height="283.45" />
                <path d="M482.36-178.9L634.88,58.83l-185.95,119.3L296.4-59.6L482.36-178.9 M482.66-180.28L295.02-59.9l153.6,239.42L636.26,59.13
           L482.66-180.28L482.66-180.28z" />
            </g>
            <g class="st1">

                <rect x="-32.87" y="217.84" transform="matrix(0.8417 -0.54 0.54 0.8417 -142.7999 53.4884)" class="st3"
                    width="105.36" height="104.83" />
                <path d="M35.7,198.38l56.07,87.39L3.93,342.13l-56.07-87.39L35.7,198.38 M36,197l-89.52,57.44l57.15,89.08l89.52-57.44L36,197
           L36,197z" />
            </g>
            <g class="st1">

                <rect x="281.13" y="-52.16" transform="matrix(0.8417 -0.54 0.54 0.8417 52.7134 180.2959)" class="st3"
                    width="105.36" height="104.83" />
                <path d="M349.7-71.62l56.07,87.39l-87.84,56.36l-56.07-87.39L349.7-71.62 M350-73l-89.52,57.44l57.15,89.08l89.52-57.44L350-73
           L350-73z" />
            </g>
            <g class="st1">

                <rect x="253.97" y="-23.17" transform="matrix(0.8417 -0.54 0.54 0.8417 43.9215 148.2326)" class="st3"
                    width="41.54" height="44.78" />
                <path d="M279.98-30.15L303.62,6.7L269.5,28.59L245.86-8.26L279.98-30.15 M280.28-31.53l-35.8,22.97l24.72,38.53L305,7
           L280.28-31.53L280.28-31.53z" />
            </g>
            <text transform="matrix(0.8413 0 0 1 -43 145.9199)" class="st4 st5 st6">Lm</text>
            <text transform="matrix(1.0015 0 0 1 188.9326 253.207)" class="st1 st5"
                style="font-size:12.9784px;">Technical Asset Management System, CIH Cahul</text>
        </g>
        <g id="Layer_2">
            <rect x="9" y="8" width="2" height="134" />
            <rect x="14" y="8" width="2" height="134" />
            <rect x="19" y="8" width="2" height="134" />
            <rect x="27" y="8" width="4" height="134" />
            <rect x="35" y="8" width="2" height="134" />
            <rect x="39" y="8" width="2" height="134" />
            <rect x="44" y="8" width="2" height="134" />
            <rect x="48" y="8" width="4" height="134" />
            <rect x="55" y="8" width="4" height="134" />
            <polyline points="64,8 64,142 62,142 62,8 	" />
            <polyline points="69,8 69,142 67,142 67,8 	" />
            <polyline points="74,8 74,142 72,142 72,8 	" />
            <polyline points="84,8 84,142 80,142 80,8 	" />
            <polyline points="90,8 90,142 88,142 88,8 	" />
            <polyline points="94,8 94,142 92,142 92,8 	" />
            <polyline points="99,8 99,142 97,142 97,8 	" />
            <polyline points="105,8 105,142 101,142 101,8 	" />
            <polyline points="112,8 112,142 108,142 108,8 	" />
            <polyline points="154,8 154,142 152,142 152,8 	" />
            <polyline points="158,8 158,142 156,142 156,8 	" />
            <polyline points="163,8 163,142 161,142 161,8 	" />
            <polyline points="148,8 148,142 144,142 144,8 	" />
            <polyline points="176,8 176,142 172,142 172,8 	" />
            <polyline points="140,8 140,142 142,142 142,8 	" />
            <polyline points="136,8 136,142 138,142 138,8 	" />
            <polyline points="131,8 131,142 133,142 133,8 	" />
            <polyline points="125,8 125,142 129,142 129,8 	" />
            <polyline points="118,8 118,142 122,142 122,8 	" />
            <rect x="179" y="8" width="2" height="134" />
            <rect x="184" y="8" width="2" height="134" />
            <rect x="189" y="8" width="2" height="134" />
            <rect x="197" y="8" width="4" height="134" />
            <rect x="205" y="8" width="2" height="134" />
            <rect x="209" y="8" width="2" height="134" />
            <rect x="214" y="8" width="2" height="134" />
            <rect x="218" y="8" width="4" height="134" />
            <rect x="225" y="8" width="4" height="134" />
            <polyline points="234,8 234,142 232,142 232,8 	" />
            <polyline points="239,8 239,142 237,142 237,8 	" />
            <polyline points="244,8 244,142 242,142 242,8 	" />
            <polyline points="254,8 254,142 250,142 250,8 	" />
            <polyline points="260,8 260,142 258,142 258,8 	" />
            <polyline points="264,8 264,142 262,142 262,8 	" />
            <polyline points="269,8 269,142 267,142 267,8 	" />
            <polyline points="275,8 275,142 271,142 271,8 	" />
            <polyline points="282,8 282,142 278,142 278,8 	" />
            <polyline points="324,8 324,142 322,142 322,8 	" />
            <polyline points="328,8 328,142 326,142 326,8 	" />
            <polyline points="333,8 333,142 331,142 331,8 	" />
            <polyline points="318,8 318,142 314,142 314,8 	" />
            <polyline points="310,8 310,142 312,142 312,8 	" />
            <polyline points="306,8 306,142 308,142 308,8 	" />
            <polyline points="301,8 301,142 303,142 303,8 	" />
            <polyline points="295,8 295,142 299,142 299,8 	" />
            <polyline points="288,8 288,142 292,142 292,8 	" />
            <text transform="matrix(1.0036 0 0 1 19.4258 179.8643)" class="st5 st7">{{ mainText }}</text>
        </g>
    </svg>
</div>