<div class="col-md-12">
    <button mat-button *ngIf="canManage" (click)="createAllocation()" class="mb-3">
        <mat-icon class="text-primary">add</mat-icon>
        {{ 'key.createAllocation' | translate }}
    </button>

    <ng-container *ngIf="loading == true">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <app-loading-placeholder *ngIf="allocations == undefined || allocations.length == 0">
        </app-loading-placeholder>
    </ng-container>

    <ng-container *ngIf="allocations != undefined && allocations.length > 0;">
        <mat-card
        *ngFor="let allocation of allocations | paginate: { itemsPerPage: 10, currentPage: pageNumber, id: 'allocations' }; let i = index"
        class="mb-2 fade-in">
        <div class="text-center">
            <mat-icon class="text-primary">vpn_key</mat-icon>
            {{ allocation.key.label }}
            <mat-icon class="text-primary mr-3 ml-3">east</mat-icon>
            <a mat-button [routerLink]="'/personnel/details/' + allocation.personnel.value">
                <mat-icon class="text-primary">
                    account_circle
                </mat-icon> {{ allocation.personnel.label }}
            </a>
            <!-- <button *ngIf="canManage" mat-button (click)="delete(allocation.id, (p1 - 1) * 10 + i)">
                <mat-icon class="text-secondary">delete</mat-icon>
            </button> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                *ngIf="canManage" (click)="delete(allocation.id, (pageNumber - 1) * 10 + i)">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="mt-2 text-center">
                <p class="m-0">
                    <small class="text-muted">
                        {{ 'key.allocated' | translate }}: {{ allocation.dateAllocated | date:'medium' }}
                    </small>
                </p>
                <p *ngIf="allocation.dateReturned != undefined" class="m-0">
                    <small class="text-muted">
                        {{ 'key.returned' | translate }}: {{ allocation.dateReturned | date:'medium' }}
                    </small>
                </p>
            </div>
        </div>
        </mat-card>
    </ng-container>
    
    <pagination-controls (pageChange)="pageNumber = $event" id="allocations"
        *ngIf="allocations != undefined && allocations.length > 0">
    </pagination-controls>

    <div *ngIf="loading == false && (allocations == undefined || allocations.length == 0)">
        <img class="centerSvg fade-in" src="assets/svgs/no-data.svg">
    </div>
</div>