<div class="card">
    <div class="card-body">
        <button mat-button (click)="createAllocation()" class="mb-3">
            <mat-icon class="text-primary">add</mat-icon>Create new allocation
        </button>

        <ng-container *ngIf="loading == true">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <app-loading-placeholder *ngIf="allocations == undefined || allocations.length == 0"></app-loading-placeholder>
        </ng-container>
        <mat-card
            *ngFor="let allocation of allocations | paginate: { itemsPerPage: 10, currentPage: p1, id: 'allocations' }; let i = index"
            class="mb-2 fade-in">
            <div class="text-center">
                <mat-icon class="text-primary">vpn_key</mat-icon>
                {{ allocation.key.label }}
                <mat-icon class="text-primary mr-3 ml-3">east</mat-icon>
                <a mat-button [routerLink]="'/personnel/details/' + allocation.personnel.value">
                    <mat-icon class="text-primary">
                        account_circle
                    </mat-icon> {{ allocation.personnel.label }}
                </a>
                <button *ngIf="canManage" mat-button (click)="delete(allocation.id, (p1 - 1) * 10 + i)">
                    <mat-icon class="text-secondary">delete</mat-icon>
                </button>
                <div class="mt-2 mb-2 text-center">
                    <p class="text-muted">Allocated: {{ allocation.dateAllocated | date:'medium' }}</p>
                    <p *ngIf="allocation.dateReturned != undefined">
                        <span class="text-muted">Returned: {{ allocation.dateReturned | date:'medium' }}</span>
                    </p>
                </div>
            </div>
        </mat-card>
        <pagination-controls (pageChange)="p1 = $event" id="allocations"
            *ngIf="allocations != undefined && allocations.length > 0">
        </pagination-controls>

        <div *ngIf="loading == false && (allocations == undefined || allocations.length == 0)">
            <img class="centerSvg fade-in" style="width: 300px;" src="assets/svgs/no-data.svg">
        </div>
    </div>
</div>