<div [ngClass]="dialogRef == undefined ? 'card limit' : 'card cancel-margins limit'">
    <div class="card-body">
        <h2>
            {{ property.displayName }}
        </h2>
        <hr class="separator">

        <p class="font-weight-bold mt-2 mb-0">
            {{ 'property.name' | translate }}
        </p>
        <p> {{ property.name }} </p>

        <ng-container *ngIf="property.description != undefined">
            <p class="font-weight-bold mt-2 mb-0">
                {{ 'form.description' | translate }}:
            </p>
            <p> {{ property.description }} </p>
        </ng-container>

        <p class="font-weight-bold mt-2 mb-0">
            {{ 'property.dataType' | translate }}
        </p>
        <p> {{ property.dataType }} </p>

        <p class="font-weight-bold mt-2 mb-0">
            {{ 'property.required' | translate }}
        </p>
        <p> {{ property.required }} </p>
    </div>
</div>