<div class="card">
    <div class="card-body">
        <div class="card-title">{{ property.displayName }}</div>
        <h3 *ngIf="property.name != undefined">{{ 'property.name' | translate }}: {{ property.name }}</h3>
        <h3 *ngIf="property.description != undefined">{{ 'form.description' | translate }}: {{ property.description }}</h3>
        <h3>{{ 'property.dataType' | translate }}: {{ property.dataType }}</h3>
        <h3>{{ 'property.required' | translate }}: {{ property.required }}</h3>
    </div>
</div>