<div class="card">
    <div class="card-body">
        <div class="card-title">{{ header }}</div>
        <form (submit)="onSubmit()">
            <mat-form-field>
              <mat-label>{{ label }}</mat-label>
              <input type="text"
                     [placeholder]="placeholder"
                     aria-label="Tems ID or Serial Number"
                     matInput
                     [formControl]="optionInput"
                     [matAutocomplete]="auto"
                     required>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.label"
                (onSelectionChange)="optionSelected(option.value)">
                  {{option.label}} <span class="text-muted">{{ option.additional }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="optionInput.length == 0">
              Find
            </button>
          </form>
    </div>
</div>