@import '../../../styles.scss';

h1 {
  font-size: 25px;
  color: theme-color(light);
  font-weight: bold;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
  color: $white;
  margin: 0;
}

h3 {
  font-size: 15px;
  font-weight: lighter;
  margin: 0;
}

.datetime-display-wrapper {
  background: theme-color(primary);
  background: theme-gradient-color(primary);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 150px;
  height: auto;
  margin: auto;
  border-radius: 2px;
}

.top {
  background: theme-color(light);
  background: theme-gradient-color(light);
  border-bottom: 5px solid theme-color(danger);
  border-radius: 2px 2px 0 0;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 5px;
}

#clock {
  font-size: 30px;
  padding: 4px;
  color: $white;
  text-align: center;
}

.title {
  font-size: 18px;
  color: theme-color(dark);
}