<div class="card card-sm h-100">
    <div class="card-body pt-2 px-3 pb-1">
        <h4>{{ title }}</h4>
        <div class="text-center mt-2">
            <div class="display-4">
                <span [ngClass]="'text-' + theme">{{ mainText }}</span>
            </div>
            <p *ngIf="secondaryText != undefined" class=" medium-font-size d-block mt-2 text-success">
                {{ secondaryText }}
            </p>
            <small *ngIf="footNote != undefined" class="text-muted">
                {{ footNote }}
            </small>
        </div>
    </div>
</div>