<app-total-variables></app-total-variables>


<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<app-yearlychart></app-yearlychart>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-recent-table></app-recent-table>
<!-- ============================================================== -->
<!-- Table -->

<!-- ============================================================== -->
<!-- Recent comment 
<============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-8">
        <app-recent-comments></app-recent-comments>
    </div>
    <!-- column -->
    <div class="col-lg-4">
        <app-chat-listing></app-chat-listing>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment-->
<!-- ============================================================== -->