<mat-form-field class="tems-chip-list">
    <mat-label>{{ label }}</mat-label>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" (optionActivated)="optionActivated($event)">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option.label }} <span class="text-muted"> {{ option.additional }}</span>
      </mat-option>
    </mat-autocomplete>
    <mat-chip-list #chipList aria-label="Option selection">
      <mat-chip
        *ngFor="let op of $any(options)"
        [disabled]="disabled"
        [selectable]="$any(selectable)"
        [removable]="$any(removable)"
        (removed)="remove(op)">
        {{ op.label }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="placeholder"
        #optionInput
        [disabled]="disabled"
        [formControl]="formCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="$any(chipList)"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>