<div class="card strech-card">
    <div class="card-body">
        <h2>Account settings</h2>
        <hr>
        <h3>Change account password</h3>
        <form [formGroup]="changePasswordFormlyData.form" (ngSubmit)="changePass(changePasswordFormlyData.model)">
            <formly-form [form]="changePasswordFormlyData.form" [fields]="changePasswordFormlyData.fields"
                [model]="changePasswordFormlyData.model"></formly-form>
            <br>
            <button mat-button type="submit" class="btn-primary"
                [disabled]="changePasswordFormlyData.form.status == 'INVALID'">
                Change my password
            </button>
        </form>
        <hr>
        <h3>Email preferences</h3>
        <form [formGroup]="emailPreferencesFormlyData.form" (ngSubmit)="saveEmailPreferences(emailPreferencesFormlyData.model)">
            <formly-form [form]="emailPreferencesFormlyData.form" [fields]="emailPreferencesFormlyData.fields"
                [model]="emailPreferencesFormlyData.model"></formly-form>
            <p class="text-muted">Tech support team is advised to activate email notifications in order to be notified when someone reports an issue.</p>
            <button mat-button type="submit" class="btn-primary"
                [disabled]="emailPreferencesFormlyData.form.status == 'INVALID'">
                Save email preferences
            </button>
        </form>
    </div>
</div>