<div class="card strech-card">
    <div class="card-body">
        <h2>
            {{ 'profile.accountSettings' | translate }}
        </h2>
        <hr>
        <h3>
            {{ 'profile.generalAccountInfomration' | translate }}
        </h3>
        <form [formGroup]="accountGeneralInfoFormlyData.form" (ngSubmit)="editGeneralInfo(accountGeneralInfoFormlyData.model)">
            <formly-form [form]="accountGeneralInfoFormlyData.form" [fields]="accountGeneralInfoFormlyData.fields"
                [model]="accountGeneralInfoFormlyData.model"></formly-form>
            <br>
            <button mat-button type="submit" class="btn-gradient-primary"
                [disabled]="accountGeneralInfoFormlyData.form.status == 'INVALID'">
                {{ 'form.submit' | translate }}
            </button>
        </form>
        <hr>
            <button mat-button type="submit" class="btn-gradient-primary" (click)="changePhoto()">
                {{ 'profile.changePhoto' | translate }}
            </button>
        <hr>
        <h3>{{ 'profile.changePassowrd' | translate }}</h3>
        <form [formGroup]="changePasswordFormlyData.form" (ngSubmit)="changePass(changePasswordFormlyData.model)">
            <formly-form [form]="changePasswordFormlyData.form" [fields]="changePasswordFormlyData.fields"
                [model]="changePasswordFormlyData.model"></formly-form>
            <br>
            <button mat-button type="submit" class="btn-gradient-primary"
                [disabled]="changePasswordFormlyData.form.status == 'INVALID'">
                {{ 'profile.changeMyPassword' | translate }}
            </button>
        </form>
        <hr>
        <h3>{{ 'profile.emailPreferences' | translate }}</h3>
        <form [formGroup]="emailPreferencesFormlyData.form" (ngSubmit)="saveEmailPreferences(emailPreferencesFormlyData.model)">
            <formly-form [form]="emailPreferencesFormlyData.form" [fields]="emailPreferencesFormlyData.fields"
                [model]="emailPreferencesFormlyData.model"></formly-form>
            <p class="text-muted">
                {{ 'profile.emailTip' | translate }}
            </p>
            <button mat-button type="submit" class="btn-gradient-primary"
                [disabled]="emailPreferencesFormlyData.form.status == 'INVALID'">
                {{ 'form.submit' | translate }}
            </button>
        </form>
    </div>
</div>