<!-- <h2>Equipment Analytics</h2> -->
<div class="row" *ngIf="
equipmentTotalAmount != undefined &&
equipmentTotalCost != undefined &&
equipmentUtilizationRate != undefined &&
equipmentTypeRate != undefined &&
equipmentAllocationRate != undefined
">
    <div class="col-lg-3 col-md-3">
        <app-simple-info-card
        title="Total Equipment Amount"
        [mainText]="equipmentTotalAmount"
        [secondaryText]="equipmentTotalCost">
        </app-simple-info-card>
    </div>

    <div class="col-lg-3 col-md-3">
        <app-piechart-card
        title="Equipment using rate"
        [rates]="equipmentUtilizationRate">
        </app-piechart-card>
    </div>

    <div class="col-lg-3 col-md-3">
        <app-piechart-card
        title="Equipment type rate"
        [rates]="equipmentTypeRate">
        </app-piechart-card>
    </div>

    <div class="col-lg-3 col-md-3">
        <app-piechart-card
        title="Equipment allocation rate"
        [rates]="equipmentAllocationRate">
        </app-piechart-card>
    </div>
</div>