<button *ngIf="displayCreateNew" class="btn btn-secondary btn-sm" (click)="addAnnouncement()">+ Create New
</button>
<mat-card *ngFor="let announcement of announcements" class="mb-2">
    <mat-card-header>
        <p>
            <span>{{ announcement.title }}</span>
            <span class="text-muted float-right">Created: {{ announcement.dateCreated | date:'medium' }}</span>
        </p>
        <hr>
        <br>
        <p>
            {{ announcement.text }}
        </p>
    </mat-card-header>
</mat-card>