<ng-container *ngIf="childEquipment != undefined; else elseBlock">
    <mat-expansion-panel class="m-2 mat-elevation-z0 border" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="page-header col-md-12 p-0 m-0">
                    <div class="page-title mt-4 mb-0">
                        <h3>
                            <b>{{ childEquipment.additional }}: </b> {{ childEquipment.label }}
                        </h3>
                    </div>
                    <ng-container *ngIf="canManage && detachable">
                        <nav aria-label="breadcrumb" (click)="$event.stopPropagation()">
                            <ng-container>
                                <ng-container *ngIf="isAttached == true; else notAttached">
                                    <button mat-button (click)="detach()">
                                        <mat-icon class="text-muted">link_off</mat-icon>
                                        {{ 'equipment.detach' | translate }}
                                    </button>
                                </ng-container>
                                <ng-template #notAttached>
                                    <button mat-button (click)="attach()">
                                        <mat-icon class="text-muted">link_on</mat-icon>
                                        {{ 'equipment.attachBack' | translate }}
                                    </button>
                                </ng-template>
                            </ng-container>
                        </nav>
                    </ng-container>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
    
        <ng-template matExpansionPanelContent>
            <app-asset-details [assetId]="childEquipment.value"></app-asset-details>
        </ng-template>
    </mat-expansion-panel>
</ng-container>

<ng-template #elseBlock>
    <p class="mt-3 text-muted text-center">
        {{ 'general.empty' | translate }}
    </p>
</ng-template>
