<div class="card stretch-card">
    <div class="card-body">
        <div class="card-title">Closed issues</div>
        <ng-container *ngIf="!showMoreIssues">
            <app-issue-container 
            *ngFor="let issue of lastClosedIssues"
            [issue]="issue"
            readonly="true">
            </app-issue-container>
            <a mat-button (click)="showMoreIssues = true">View more...</a>
        </ng-container>
        <ng-container *ngIf="showMoreIssues">
            <app-entity-issues-list
            [endPoint]="closedIssuesEndPoint"
            [addIssueEnabled]="false"
            [showIncludeClosed]="false">
            </app-entity-issues-list>
        </ng-container>
    </div>
</div>