<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <ng-container *ngIf="menuService.ROUTES != undefined">
      <li class="nav-item" *ngFor="let sidebarNavItem of menuService.ROUTES"
      [class]="{ 'active' : sidebarNavItem.isActive }">

      <!-- if it contains submenu -->
      <div *ngIf="sidebarNavItem.isShown && sidebarNavItem.submenu.length != 0">
        <a class="nav-link"
          (click)="closePreviousSubmenu(sidebarNavItem);"
          [attr.aria-expanded]="sidebarNavItem.showSubmenu" aria-controls="ui-basic">
          <span class="menu-title">{{ sidebarNavItem.title }}</span>
          <i class="menu-arrow"></i>
          <i [class]="sidebarNavItem.icon"></i>
        </a>
        <div class="collapse" id="ui-basic" [ngbCollapse]="!sidebarNavItem.showSubmenu">
          <ul class="nav flex-column sub-menu">
            <li *ngFor="let submenu of sidebarNavItem.submenu" class="nav-item">
              <a *ngIf="submenu.isShown" class="nav-link" [routerLink]="submenu.path" (click)="optionSelected()">
                {{ submenu.title }}
                <i [class]="submenu.icon"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="sidebarNavItem.isShown && sidebarNavItem.submenu.length == 0">
        <a class="nav-link" [routerLink]="sidebarNavItem.path" 
        (click)="optionSelected(); closePreviousSubmenu(sidebarNavItem);">
          <span class="menu-title">{{ sidebarNavItem.title }}</span>
          <i [class]="sidebarNavItem.icon"></i>
        </a>
      </div>
    </li>
    </ng-container>
  </ul>
</nav>