@import '../../../../styles.scss';

.align-items-center,
.page-header,
.loader-demo-box,
.list-wrapper ul li {
  align-items: unset !important;
}

.user-container {
  transition: 0.3s;
  background-color: $content-bg;

  :host-context(.dark) & {
    background-color: #2c2c2e;
  }
}

.user-container:hover {
  background-color: white;
  cursor: pointer;

  :host-context(.dark) & {
    background-color: #3a3a3c;
  }
}

h2 {
  font-size: 1.5em;

  :host-context(.dark) & {
    color: #f5f5f7;
  }
}

a:hover {
  text-decoration: none;
}