@import '../../../../styles.scss';

.align-items-center,
.page-header,
.loader-demo-box,
.list-wrapper ul li {
  align-items: unset !important;
}

.user-container {
  transition: 0.3s;
  background-color: $content-bg;
}

.user-container:hover {
  background-color: white;
  cursor: pointer;
}

h2 {
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}