<div class="card">
    <div class="card-body">
        <h2>
            {{ 'email.sendEmailHeader' | translate }}
        </h2>
        <p class="text-muted">
            {{ 'email.sendEmailTip' | translate }}
        </p>
        <div class="mt-3"></div>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model">
            </formly-form>

            <app-chips-autocomplete #recievers [endPoint]="personnelService" 
            [label]="translate.instant('email.sendEmailTo')"
                [alreadySelected]="personnel">
            </app-chips-autocomplete>

            <button mat-button type="submit" class="btn-gradient-primary"
                [disabled]="formlyData.form.status == 'INVALID'">
                {{ 'email.send' | translate }}
            </button>
        </form>

        <!-- <p class="text-muted">
            Recievers: {{ personnelNames }}
        </p> -->
    </div>
</div>