@import '../../../../styles.scss';

.reportContainer {
  height: 330px;
  transition: 0.3s;
  background-color: $content-bg;

  :host-context(.dark) & {
    background-color: #2c2c2e;
  }
}

.reportContainer:hover {
  background-color: white;
  cursor: pointer;

  :host-context(.dark) & {
    background-color: #3a3a3c;
  }
}

.mat-card {
  border: 1px solid #e5e7eb;
  box-shadow: none;
  border-radius: 2px;

  :host-context(.dark) & {
    border-color: #38383a;
    background-color: #2c2c2e;
  }
}

.template-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.template-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;

  height: 40%;
  margin-top: 20px;
}