@import '../../../../styles.scss';

.reportContainer {
  height: 330px;
  transition: 0.3s;
  background-color: $content-bg;
}

.reportContainer:hover {
  // background-image: $bg-gradient-primary;
  background-color: white;
  cursor: pointer;
}

.mat-card {
  border: 1px solid #e5e7eb;
  box-shadow: none;
  border-radius: 2px;
}

.template-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.template-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;

  height: 40%;
  margin-top: 20px;
}