<!-- <h2>Equipment Analytics</h2> -->
<div class="row" *ngIf="
equipmentTotalAmount != undefined &&
equipmentTotalCost != undefined &&
equipmentUtilizationRate != undefined &&
equipmentTypeRate != undefined &&
equipmentAllocationRate != undefined
">
    <div class="col-lg-3 col-md-3 p-1">
        <app-simple-info-card
        [title]="translate.instant('analytics.equipmentAmount')"
        [mainText]="equipmentTotalAmount.toString()"
        [secondaryText]="equipmentTotalCost">
        </app-simple-info-card>
    </div>

    <div class="col-lg-3 col-md-3 p-1">
        <app-piechart-card
        [title]="translate.instant('analytics.equipmentUsingRate')"
    [rates]="equipmentUtilizationRate">
        </app-piechart-card>
    </div>

    <div class="col-lg-3 col-md-3 p-1">
        <app-piechart-card
        [title]="translate.instant('analytics.equipmentTypeRate')"
        [rates]="equipmentTypeRate">
        </app-piechart-card>
    </div>

    <div class="col-lg-3 col-md-3 p-1">
        <app-piechart-card
        [title]="translate.instant('analytics.equipmentAllocationRate')"
        [rates]="equipmentAllocationRate">
        </app-piechart-card>
    </div>
</div>