<!-- <h2>Equipment Analytics</h2> -->

<div class="col-md-12">
    <div class="row" *ngIf="
    closingRate != undefined &&
    closingByRate != undefined &&
    openTicketStatusRate != undefined &&
    openTickets != undefined &&
    totalTickets != undefined">
        <div class="col-lg-3 col-md-6 p-1">
            <app-fraction-card
            [title]="translate.instant('analytics.openTickets')"
            [numerator]="openTickets"
            [denominator]="totalTickets"
            theme="success">
            </app-fraction-card>
        </div>
    
        <div class="col-lg-3 col-md-6 p-1">
            <app-piechart-card
            [title]="translate.instant('analytics.closingRate')"
            [rates]="closingRate">
            </app-piechart-card>
        </div>
    
        <div class="col-lg-3 col-md-6 p-1">
            <app-piechart-card
            [title]="translate.instant('analytics.closingByRate')"
            [rates]="closingByRate">
            </app-piechart-card>
        </div>
    
        <div class="col-lg-3 col-md-6 p-1">
            <app-piechart-card
            [title]="translate.instant('analytics.openTicketStatusRate')"
            [rates]="openTicketStatusRate">
            </app-piechart-card>
        </div>
    </div>
</div>
