.placeholder{
    margin-bottom: 5px;
    background-color: #ededed;
    border-radius: 7px;
    width: 100%;
    height: 50px;

    :host-context(.dark) & {
        background-color: #3a3a3c;
    }
}