<!-- <div class="card">
    <div class="card-body">
        <h2>{{ type.name }}</div>
        <h3>Type's parent</h3>
        <p *ngIf="type.parents == undefined">None</p>
        <div *ngIf="type.parent != undefined">
            <a (click)="viewType(type.parent.id)">
                {{ type.parent.name }}
            </a>
        </div>
        <br>
        <h3>Type's children</h3>
        <p *ngIf="type.children == undefined || type.children.length == 0">None</p>
        <div *ngIf="type.children != undefined && type.children.length > 0">
            <a *ngFor="let child of type.children" (click)="viewType(child.value)">
                {{ child.label }}
            </a>
        </div>

        <br>
        <h3>Type's properties</h3>
        <p *ngIf="type.properties == undefined || type.properties.length == 0">None</p>
        <div *ngIf="type.properties != undefined && type.properties.length > 0">
            <button mat-button *ngFor="let prop of type.properties" (click)="viewProperty(prop.id)">
                {{ prop.displayName }}
            </button>
        </div>
    </div>
</div> -->

<div class="card">
    <div class="card-body">
        <h3>Building...</h3>
    </div>
</div>