<ng-container *ngIf="claims.canManageAssets || claims.canManageAssets; else elseBlock">
    <div class="row flex-container">
        <div class="col-md-12" id="section1">
            <app-summary-asset-analytics>
            </app-summary-asset-analytics>
        </div>
        <div class="col-md-12" id="section2">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="page-header">
                        <h2 class="page-title mb-0">
                            {{ 'entities.registeredEquipment' | translate }}
                        </h2>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb bg-transparent">
                                <li class="breadcrumb-item" aria-current="page">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        class="float-right">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <app-include-asset-tags 
                                            #includeEquipmentLabels 
                                            (valueChanged)="includeTagsChanged()"
                                            [defaultValue]="defaultLabels">
                                        </app-include-asset-tags>
                                    </mat-menu>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-block">
                        <app-multiple-selection-dropdown
                            [label]="translate.instant('equipment.selectTypes')" 
                            [endPoint]="typeEndpoint"
                            (selectionChanged)="typesChanged($event)">
                        </app-multiple-selection-dropdown>
                    </div>
                    <ng-container *ngIf="claims.canManageAssets">
                        <button mat-button class="d-md-inline d-block" (click)="addNew()">
                            <mat-icon class="text-primary">add</mat-icon>
                            {{ 'equipment.add' | translate }}
                        </button>
                        <button mat-button class="d-md-inline d-block" (click)="allocateSelected()">
                            <mat-icon class="text-primary">double_arrow</mat-icon>
                            {{ 'equipment.allocateSelected' | translate }}
                        </button>
                        <button mat-button class="d-md-inline d-block" (click)="addLogSelected()">
                            <mat-icon class="text-primary">timeline</mat-icon>
                            {{ 'equipment.addLogForSelected' | translate }}
                        </button>
                        <button mat-button class="d-md-inline d-block" (click)="addIssue()">
                            <mat-icon class="text-primary">feedback</mat-icon>
                            {{ 'equipment.includeSelectedInATicket' | translate }}
                        </button>
                    </ng-container>
                    <button mat-button class="d-md-inline d-block" (click)="generateReport()">
                        <mat-icon class="text-primary">article</mat-icon>
                        {{ 'general.generateReport' | translate }}
                    </button>
                    <hr class="separator">
                    <app-ag-grid-equipment #agGridEquipment [assetFilter]="assetFilter">
                    </app-ag-grid-equipment>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #elseBlock>
    <p class="text-center text-muted">
        Insuficient permissions.
    </p>
</ng-template>