<div class="card">
  <div class="card-body">
    <h2>{{ header }}</h2>
    <form [formGroup]="quickAccessFormGroup" (submit)="onSubmit()">
      <div style="max-width: 600px;">
        <app-chips-autocomplete #identifier [label]="label" [endPoint]="endPoint"
          formControlName="selectedEntities" [maxOptionsSelected]="1">
        </app-chips-autocomplete>
        <button type="submit" mat-button>
          <mat-icon class="text-primary">search</mat-icon> {{ 'general.search' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>