<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <h2>
        {{ 'key.allocations' | translate }}
      </h2>
      <hr>
      <form class="container">
        <div class="row">
          <div class="col-md-4 text-center">
            <mat-form-field appearance="fill">
              <mat-label>
                {{ 'key.key' | translate }}
              </mat-label>
              <mat-select (selectionChange)="keySelected($event.value)">
                <mat-option value="any">
                  {{ 'form.any' | translate }}
                </mat-option>
                <mat-option *ngFor="let key of filteredKeys | async" [value]="key.value">{{ key.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-center">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'entities.room' | translate }}</mat-label>
              <mat-select (selectionChange)="roomSelected($event.value)">
                <mat-option value="any">{{ 'form.any' | translate }}</mat-option>
                <mat-option *ngFor="let room of rooms | async" [value]="room.value">{{ room.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 text-center">
            <mat-form-field appearance="fill">
              <mat-label>{{ 'entities.personnel' | translate }}</mat-label>
              <mat-select (selectionChange)="personnelSelected($event.value)">
                <mat-option value="any">{{ 'form.any' | translate }}</mat-option>
                <mat-option *ngFor="let pers of personnel | async" [value]="pers.value">{{ pers.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="mt-3">
        <app-keys-allocations-list #viewKeysAllocationsList [keyId]="keyId" [roomId]="roomId"
          [personnelId]="personnelId" [canManage]="canManage">
        </app-keys-allocations-list>
      </div>
    </div>
  </div>
</div>