<div class="card">
  <div class="card-body">
    <div class="card-title">View Archieved items</div>
    <p class="text-muted">Note: All of archieved items will get deleted after 30 days.</p>
    <hr>
    <mat-form-field>
      <mat-label>Items' type</mat-label>
      <mat-select [(ngModel)]="selectedType" (selectionChange)="onTypeChanged()">
        <mat-option *ngFor="let type of archieveService.types" [value]="type.value">{{ type.label }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mt-3"></div>
    <button mat-button (click)="dearchive()">
      <mat-icon class="text-primary">history</mat-icon>Dearchive selected
    </button>
    <button *ngIf="canRemove" mat-button (click)="remove()">
      <mat-icon class="text-muted">delete_forever</mat-icon>Remove selected (completely)
    </button>
    <app-ag-grid-archieved-items #agArchievedItems [itemsType]="selectedType">
    </app-ag-grid-archieved-items>
  </div>
</div>