<div class="card">
  <div class="card-body">
    <div class="card-title">View Archieved items</div>
    <p class="text-mute">Note: All of archieved items will get deleted after 30 days.</p>
    <hr>
    <mat-form-field>
      <mat-label>Items' type</mat-label>
      <mat-select [(ngModel)]="selectedType" (selectionChange)="onTypeChanged()">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="dearchive()">
      <mat-icon class="text-primary">double_arrow</mat-icon>Dearchive selected
    </button>
    <button *ngIf="canRemove" mat-button (click)="remove()">
      <mat-icon class="text-primary">timeline</mat-icon>Remove selected (completely)
    </button>
    <app-ag-grid-archieved-items #archievedItems [items]="archievedItems">
    </app-ag-grid-archieved-items>
    <!-- <ng-container *ngIf="archievedItems != undefined">
      <br>

      <div class="container">
        <div *ngFor="let item of archievedItems | paginate: { itemsPerPage: 20, currentPage: p1, id: 'items' }; let i =
        index" class="m-3">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p>{{ item.label }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p>Date archieved: {{ item.additional | date:'short' }}</p>
          </div>
          <div class="col-md-2 col-sm-12">
            <button mat-button>Dearchive</button>
          </div>
        </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p1 = $event" id="items"></pagination-controls>
    </ng-container> -->
  </div>
</div>