<ng-container *ngIf="claims.canManage || claims.canView; else elseBlock">
  <div class="col-md-12">
    <div class="page-header">
      <div class="page-title mt-4 mb-0">
        <h2>
          {{ 'entities.tickets' | translate }}
        </h2>
      </div>
      <ng-container *ngIf="showIncludeClosed == true">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb bg-transparent">
  
            <li class="breadcrumb-item" aria-current="page">
              <button mat-button [matMenuTriggerFor]="menu" aria-label="Add Equipment Menu" class="float-right">
                <mat-icon class="text-primary">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div class="p-2 text-center">
                  <mat-slide-toggle class="float-right"
                    (click)="includeClosedChanged()">
                    {{ 'ticket.includeClosed' | translate }}
                  </mat-slide-toggle>
                </div>
              </mat-menu>
            </li>
          </ul>
        </nav>
      </ng-container>
    </div>

    <div class="button-container">
      <button *ngIf="addIssueEnabled == true" mat-button (click)="addIssue()" class="d-xs-block">
        <mat-icon class="text-primary">add</mat-icon>
        {{ 'ticket.create' | translate }}
      </button>
      <button mat-button (click)="sortBy('priority')" class="d-xs-block">
        <mat-icon class="text-primary">import_export</mat-icon>
        {{ 'ticket.sortPriority' | translate }}
      </button>
      <button mat-button (click)="sortBy('date')" class="d-xs-block">
        <mat-icon class="text-primary">import_export</mat-icon>
        {{ 'ticket.sortDate' | translate }}
      </button>
    </div>

    <hr class="mt-3">

    <ng-container *ngIf="loading == true">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <app-loading-placeholder></app-loading-placeholder>
    </ng-container>

    <div #issuesPanel>
      <mat-accordion>
        <div
          *ngFor="let issue of issues | paginate: { itemsPerPage: 20, currentPage: pageNumber, id: 'issues' }; let i = index">
          <app-issue-container [canManage]="claims.canManage" [issue]="issue" [statuses]="statuses"
            (solve)="solve((pageNumber-1)*20 + i)" (pinned)="ticketPinned($event, (pageNumber-1)*20 + i)"
            (remove)="remove((pageNumber-1)*20 + i)">
          </app-issue-container>
        </div>
      </mat-accordion>
    </div>

    <pagination-controls class="m-0 mb-2" (pageChange)="pageNumber = $event" id="issues"
      *ngIf="issues != undefined && issues.length > 0">
    </pagination-controls>
    <div *ngIf="loading == false && (issues == undefined || issues.length == 0)">
      <img class="center-svg" src="assets/svgs/no-data.svg">
    </div>
  </div>
</ng-container>

<ng-template #elseBlock>
  <p class="text-center text-muted">
    {{ 'general.insufficientPermisions' | translate }}
  </p>
</ng-template>