<div class="col-md-12 flex-container">
    <h2 class="mt-3">
        {{ 'entities.currentlyAllocatedEquipment' | translate }}
    </h2>
    <hr>
    <div id="section1">
        <app-summary-equipment-analytics [roomId]="room.id">
        </app-summary-equipment-analytics>
    </div>

    <div id="section2">
        <app-ag-grid-equipment #agGridEquipment [rooms]="roomsParameter">
        </app-ag-grid-equipment>
    </div>

    <div id="section3" class="mt-5">
        <app-entity-allocations-list [room]="room">
            {{ 'general.loading' | translate }}
        </app-entity-allocations-list>
    </div>
</div>