<div class="card" *ngIf="issues != undefined && issues.length > 0">
    <div class="card-body">
        <h2>
            <mat-icon class="text-primary">push_pin</mat-icon> 
            {{ 'ticket.pinned' | translate }}
        </h2>
        <ng-container class="mt-3">
            <app-issue-container *ngFor="let issue of issues; let i = index" 
            [issue]="issue" 
            [canManage]="claims.canManage"
            [statuses]="statuses"
            (unPinned)="ticketUnpinned($any($event), i)" 
            (remove)="remove(i)">
            </app-issue-container>
        </ng-container>
    </div>
</div>