<div class="card">
    <div class="card-body">
        <h2>
            {{ 'logs.logsHeader' | translate }}
        </h2>
        <hr>
        <div class="form-wrapper">
            <form [formGroup]="dateFormGroup">
                <mat-form-field class="d-block">
                    <mat-label>{{ 'form.date' | translate }}</mat-label>
                    <input  type="date" matInput formControlName="date" (change)="fetchLogs()">
                </mat-form-field>
                <!-- <button mat-button type="submit" class="btn-gradient-primary mt-2">
                    Fetch logs
                </button> -->
            </form>
        </div>
        <div class="mt-4"></div>
        <ng-container *ngIf="logs == undefined; else elseBlock">
            <p class="text-center text-muted">
                {{ 'general.empty' | translate }}
            </p>
        </ng-container>

        <ng-template #elseBlock>
            <pre>
                {{logs}}
            </pre>
        </ng-template>
    </div>
</div>