<div class="card">
    <div class="card-body">
        <h2>
            {{ 'config.configSettingsHeader' | translate }}
        </h2>
        <hr>

        <!-- 1st section: SIC Integration -->
        <div class="config-section mt-3">
            <h3>
                <mat-icon class="text-primary">
                    chevron_right
                </mat-icon>
                {{ 'config.sicIntegration' | translate }}
            </h3>
            <p class="text-muted">
                {{ 'config.configSettingsHeader' | translate }}
                 <br>
            </p>
            <button mat-button (click)="integrateSIC()" class="btn-gradient-primary">
                {{ 'config.sicIntegrationButtonText' | translate }}
            </button>
            <p class="text-muted">
                {{ 'config.sicIntegrationText' | translate }}
            </p>
        </div>
        <hr>

        <!-- 2nd Section: Storage constrains -->
        <div class="config-section mt-3">
            <h3>
                <mat-icon class="text-primary">
                    chevron_right
                </mat-icon>
                {{ 'config.storageConstraintsHeader' | translate }}
            </h3>
            <p class="text-muted">
                {{ 'config.storageConstraintsText' | translate }}
            </p>
            <form [formGroup]="spaceConstraintsFormGroup" (ngSubmit)="onSubmit_spaceConstraints()" class="config-form">
                <mat-form-field class="d-block">
                    <mat-label>
                        {{ 'config.libraryStorageLabel' | translate }}
                    </mat-label>
                    <input matInput formControlName="libraryAllocatedStorageSpace" type="number" min="0">
                </mat-form-field>

                <!-- <mat-form-field class="d-block mt-2">
                    <mat-label>Maximum space allocated for storing generated reports:</mat-label>
                    <input matInput formControlName="generatedReportsLimit" type="number" min="0">
                </mat-form-field> -->
                <button mat-button type="submit" class="btn-gradient-primary mt-2">
                    {{ 'form.submit' | translate }}
                </button>
            </form>
        </div>
        <hr>

        <!-- 3rd Section: Email configuration -->
        <div class="config-section mt-3">
            <h3>
                <mat-icon class="text-primary">
                    chevron_right
                </mat-icon>
                {{ 'config.emailConfigurationHeader' | translate }}
            </h3>
            <p class="text-muted">
                {{ 'config.emailConfigurationText' | translate }}
            </p>
            <form [formGroup]="emailConfigFormGroup" (ngSubmit)="onSubmit_emailConfigFormGroup()" class="config-form">
                <mat-form-field class="d-block">
                    <mat-label>
                        {{ 'config.emailSender' | translate }}
                    </mat-label>
                    <input matInput formControlName="senderAddress" type="email">
                </mat-form-field>

                <mat-form-field class="d-block mt-2">
                    <mat-label>
                        {{ 'config.emailPassword' | translate }}
                    </mat-label>
                    <input matInput formControlName="senderPassword" type="password">
                </mat-form-field>
                <button mat-button type="submit" class="btn-gradient-primary mt-2">
                    {{ 'form.submit' | translate }}
                </button>
            </form>
        </div>
        <hr>

        <!-- 3rd Section: Time intervals configuration -->
        <div class="config-section mt-3">
            <h3>
                <mat-icon class="text-primary">
                    chevron_right
                </mat-icon>
                {{ 'config.timeIntervalsHeader' | translate }}
            </h3>
            <p class="text-muted">
                {{ 'config.timeIntervalsText' | translate }}
            </p>
            <form [formGroup]="timeConfigFormGroup" class="config-form">
                <mat-form-field class="d-block">
                    <mat-label>
                       {{ 'config.timeIntervalRoutineCheckLabel' | translate }}
                    </mat-label>
                    <input matInput formControlName="routineInterval" type="number" min="1">
                </mat-form-field>
                <button mat-button (click)="setRoutineCheckInterval()" class="btn-gradient-primary">
                    {{ 'form.submit' | translate }}
                </button>

                <mat-form-field class="d-block mt-2">
                    <mat-label>
                        {{ 'config.timeIntervalArchiveLabel' | translate }}
                    </mat-label>
                    <input matInput formControlName="archiveInterval" type="number" min="1">
                </mat-form-field>
                <button mat-button (click)="setArchiveInterval()" class="btn-gradient-primary">
                    {{ 'form.submit' | translate }}
                </button>
            </form>
        </div>
        <hr>
        <h3>
            <mat-icon class="text-primary">
                chevron_right
            </mat-icon>
            {{ 'config.guestsConfigurationHeader' | translate }}
        </h3>
        <section [formGroup]="guestTicketConfigFormGroup">
            <mat-checkbox (change)="guestTicketCreationAllowanceChanged()" formControlName="creationAllowance">
                {{ 'config.guestsTicketLabel' | translate }}
            </mat-checkbox>
        </section>
        <form [formGroup]="libraryPassFormGroup" (ngSubmit)="onSubmit_libraryPassFormGroup()" class="config-form">
            <mat-form-field class="d-block">
                <mat-label>
                    {{ 'config.guestsLibraryPasswordLabel' | translate }}
                </mat-label>
                <input matInput formControlName="libraryPassword" type="text" minlength="1">
            </mat-form-field>
            <button mat-button type="submit" class="btn-gradient-primary">
                {{ 'form.submit' | translate }}
            </button>
        </form>
    </div>
</div>