<div class="row" id="proBanner">

</div>
<!-- <div class="page-header">
  <div class="page-title">
    stanga
  </div>
  <span>dreapta</span>
</div> -->

<div class="page-header">
  <h3 class="page-title">
    Dashboard
  </h3>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center mt-5">
      <h1 class="text-primary title">TEMS</h1>
      <p class="text-muted mt-0">Technical Equipment Management System</p>
      <p class="text-muted">CIH Cahul</p>
    </div>
  </div>
</div>

<!-- Last 5 announcements (Everyone)-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <mat-icon class="text-primary">campaign</mat-icon> Last announcements
        </div>
        <app-announcements-list skip="0" take="5">
        </app-announcements-list>
      </div>
    </div>
  </div>
</div>

<!-- Quick searches -->
<div class="row mt-4">
  <div class="col-md-4">
    <app-quick-access type="equipment">
    </app-quick-access>
  </div>
  <div class="col-md-4">
    <app-quick-access type="rooms">
    </app-quick-access>
  </div>
  <div class="col-md-4">
    <app-quick-access type="personnel">
    </app-quick-access>
  </div>
</div>

<!-- Last 5 logs-->
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Last logs (Auto refreshing)</div>
      </div>
    </div>
  </div>
</div>

<div class="page-header mt-5">
  <h3 class="page-title">
    Tickets
  </h3>
</div>

<div class="row mt-4">
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <a mat-button class="text-primary btn-block" routerLink="/issues/create/">
          Create a ticket
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-7 col-md-12 grid-margin">
    <app-last-created-tickets-chart></app-last-created-tickets-chart>
  </div>

  <div class="col-lg-5 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Last 2-3 tickets</div>
        <a routerLink="/issues/all">See more</a>
        <app-last-issues-simplified>
        </app-last-issues-simplified>
      </div>
    </div>
  </div>
</div>

<!-- CIH TEMS Team -->

<div class="page-header mt-5">
  <h3 class="page-title">
    Our Technicians
  </h3>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-image text-center">
          <img class="card-img-top text-center" src="assets/svgs/default_avatar.svg"
            style="width: 80%; margin-top: 10px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-image text-center">
          <img class="card-img-top text-center" src="assets/svgs/default_avatar.svg"
            style="width: 80%; margin-top: 10px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>