<div class="row">
  <div class="col-md-12">
    <div class="text-center mt-5">
      <img src="assets/images/logo.svg" alt="logo" class="dashboard-logo fade-in"/>
      <!-- <h1 class="text-primary title">TEMS</h1> -->
      <h4>Technical Equipment Management System</h4>
      <h5 class="text-muted">CIH Cahul</h5>
    </div>
  </div>
</div>

<!-- Last 5 announcements (Everyone)-->
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <mat-icon class="text-primary">campaign</mat-icon> Last announcements
        </div>
        <app-announcements-list skip="0" take="5">
        </app-announcements-list>
      </div>
    </div>
  </div>
</div>

<!-- Quick searches -->
<div class="row mt-4">
  <div class="col-md-4">
    <app-quick-access type="equipment">
    </app-quick-access>
  </div>
  <div class="col-md-4">
    <app-quick-access type="rooms">
    </app-quick-access>
  </div>
  <div class="col-md-4">
    <app-quick-access type="personnel">
    </app-quick-access>
  </div>
</div>

<!-- Last 5 logs-->
<div class="row mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Last logs (Auto refreshing)</div>
      </div>
    </div>
  </div>
</div>

<div class="page-header mt-5">
  <h3 class="page-title">
    Tickets
  </h3>
</div>

<div class="row mt-4">
  <div class="col-md-12 mb-4">
    <div class="card">
      <div class="card-body">
        <a mat-button class="text-primary btn-block" routerLink="/issues/create/">
          Create a ticket
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-7 col-md-12 grid-margin">
    <app-last-created-tickets-chart></app-last-created-tickets-chart>
  </div>

  <div class="col-lg-5 col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Most recent tickets</div>
        <a routerLink="/issues/all">See more</a>
        <app-last-issues-simplified>
        </app-last-issues-simplified>
      </div>
    </div>
  </div>
</div>

<!-- CIH TEMS Team -->

<div class="page-header mt-5">
  <h3 class="page-title">
    Our Technicians
  </h3>
</div>

<app-user-cards-list [ofRole]="technician">
</app-user-cards-list>