<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true">
            <mat-tab [label]="mainHeaderLabel">
                <app-room-details-general [roomId]="roomId" (archivationStatusChanged)="archivationStatusChanged()">
                    {{ 'general.loading' | translate }}
                </app-room-details-general>
            </mat-tab>
            <ng-container *ngIf="roomSimplified.isArchieved == false">
                <mat-tab label="Logs">
                    <ng-template matTabContent>
                        <app-room-details-logs [room]="roomSimplified">
                            {{ 'general.loading' | translate }}
                        </app-room-details-logs>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Issues">
                    <ng-container *ngIf="roomSimplified.activeIssues != 0; else elseIssueHeader">
                        <ng-template mat-tab-label>
                            <div [matBadge]="roomSimplified.activeIssues" matBadgeOverlap="false">
                                {{ 'entities.tickets' | translate }}
                            </div>
                        </ng-template>
                    </ng-container>

                    <ng-template #elseIssueHeader>
                        {{ 'entities.tickets' | translate }}
                    </ng-template>
                    <ng-template matTabContent>
                        <app-room-details-issues [room]="roomSimplified">
                            {{ 'general.loading' | translate }}
                        </app-room-details-issues>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Allocations">
                    <ng-template matTabContent>
                        <app-room-details-allocations [room]="roomSimplified">
                            {{ 'general.loading' | translate }}
                        </app-room-details-allocations>
                    </ng-template>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>