<app-summary-issues-analytics>
    Loading...
</app-summary-issues-analytics>

<div class="card mt-5">
    <div class="card-body">
        <app-pinned-issue
        (unPinned)="ticketUnpinned($event)">

        </app-pinned-issue>
    </div>
</div>

<div class="card mt-5">
    <div class="card-body">
        <div class="card-title">View Issues</div>
        <form [formGroup]="filterIssueFormGroup">
            <div class="row">
                <div class="col-4">
                    <app-chips-autocomplete label="Equipments' TEMSID or Serial Number..."
                    formControlName="equipment"
                    [endPoint]="equipmentService"
                    (dataCollected)="equipmentSelected($value)"
                    (dataRemoved)="equipmentSelected($value)"
                    maxOptionsSelected="1">
                    </app-chips-autocomplete>
                </div>
                <div class="col-4">
                    <app-chips-autocomplete label="Room"
                    formControlName="rooms"
                    [endPoint]="roomService"
                    (dataCollected)="roomSelected($value)"
                    (dataRemoved)="roomSelected($value)"
                    maxOptionsSelected="1">
                    </app-chips-autocomplete>
                </div>
                <div class="col-4">
                    <app-chips-autocomplete label="Personnel"
                    formControlName="personnel"
                    [endPoint]="personnelService"
                    (dataCollected)="personnelSelected($value)"
                    (dataRemoved)="personnelSelected($value)"
                    maxOptionsSelected="1">
                    </app-chips-autocomplete>
                </div>
            </div>
        </form>
        <mat-tab-group [@.disabled]="true">
            <mat-tab label="Open">
                <app-entity-issues-list #entityOpenIssuesList
                    showIncludeClosed="false"
                    [equipmentId]="equipmentId"
                    [roomId]="roomId"
                    [personnelId]="personnelId">
                    Loading...
                </app-entity-issues-list>
            </mat-tab>
            <mat-tab label="Closed">
                <ng-template matTabContent>
                    <app-entity-issues-list #entityClosedIssuesList
                    showIncludeClosed="false"
                    [equipmentId]="equipmentId"
                    [roomId]="roomId"
                    [personnelId]="personnelId"
                    onlyClosed="true"
                    addIssueEnabled="false">
                    Loading...
                </app-entity-issues-list>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>