<div class="card">
    <div class="card-body">
        <div class="card-title">View Tickets</div>
        <form>
            <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Equipment</mat-label>
                        <mat-select (selectionChange)="equipmentSelected($event.value)">
                            <mat-option value="any">Any</mat-option>
                            <mat-option *ngFor="let eq of equipment | async" [value]="eq.value">{{ eq.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Room</mat-label>
                        <mat-select (selectionChange)="roomSelected($event.value)">
                            <mat-option value="any">Any</mat-option>
                            <mat-option *ngFor="let room of rooms | async" [value]="room.value">{{ room.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Personnel</mat-label>
                        <mat-select (selectionChange)="personnelSelected($event.value)">
                            <mat-option value="any">Any</mat-option>
                            <mat-option *ngFor="let pers of personnel | async" [value]="pers.value">{{ pers.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <mat-tab-group [@.disabled]="true">
            <mat-tab label="Open">
                <app-summary-issues-analytics>
                    Loading...
                </app-summary-issues-analytics>
                <app-entity-issues-list
                    showIncludeClosed="false"
                    [equipmentId]="equipmentId"
                    [roomId]="roomId"
                    [personnelId]="personnelId">
                    Loading...
                </app-entity-issues-list>
            </mat-tab>
            <mat-tab label="Closed">
                <ng-template matTabContent>
                    <app-entity-issues-list 
                    showIncludeClosed="false"
                    [equipmentId]="equipmentId"
                    [roomId]="roomId"
                    [personnelId]="personnelId"
                    onlyClosed="true"
                    addIssueEnabled="false">
                    Loading...
                </app-entity-issues-list>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>