<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true">
            <mat-tab [label]="mainHeaderLabel">
                <ng-template matTabContent>
                    <app-personnel-details-general 
                    [personnelId]="personnelId"
                    (archivationStatusChanged)="archivationStatusChanged()">
                        {{ 'general.loading' | translate }}
                    </app-personnel-details-general>
                </ng-template>
            </mat-tab>
            <ng-container *ngIf="personnelSimplified.isArchieved == false">
                <mat-tab [label]="translate.instant('entities.logs')">
                    <ng-template matTabContent>
                        <app-personnel-details-logs [personnel]="personnelSimplified">
                            {{ 'general.loading' | translate }}
                        </app-personnel-details-logs>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div [matBadge]="personnelSimplified.activeTickets" matBadgeOverlap="false">
                            {{ 'entities.tickets' | translate }}
                        </div>
                    </ng-template>
                    
                    <ng-template matTabContent>
                        <app-personnel-details-issues [personnel]="personnelSimplified">
                            {{ 'general.loading' | translate }}
                        </app-personnel-details-issues>
                    </ng-template>
                </mat-tab>
                <mat-tab [label]="translate.instant('entities.allocations')">
                    <ng-template matTabContent>
                        <app-personnel-details-allocations [personnel]="personnelSimplified">
                            {{ 'general.loading' | translate }}
                        </app-personnel-details-allocations>
                    </ng-template>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>