<div [ngClass]="dialogRef == undefined ? 'card' : 'card cancel-margins'">
    <div class="card-body" style="max-width: 500px;">
        <h2 *ngIf="roomId == undefined">
            {{ 'room.add' | translate }}
        </h2>
        <h2 *ngIf="roomId != undefined">
            {{ 'room.update' | translate }}
        </h2>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
            <app-chips-autocomplete
                #labels
                [label]="translate.instant('room.labels')"
                [autocompleteOptions]="roomLabels">
            </app-chips-autocomplete>
            <app-chips-autocomplete
                #supervisories
                [label]="translate.instant('room.supervisories')"
                [endPoint]="personnelService">
            </app-chips-autocomplete>
            <br>
            <button 
                type="submit" 
                class="btn btn-gradient-primary mr-2"
                [disabled]="formlyData.form.status=='INVALID'">
                {{ 'form.submit' | translate }}
            </button>
        </form>
    </div>
</div>

