:host {
  display: block;
  min-height: 100vh;
  background-color: #f5f5f7;
}

// iOS-style enhancements
button {
  cursor: pointer;
  outline: none;
  border: none;
  
  &:active {
    transform: scale(0.98);
  }
}
