<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex align-items-center mb-4">
                    <div>
                        <h4 class="card-title text-uppercase font-16">Product Yearly Sales</h4>
                        <!-- <h5 class="card-subtitle">Overview of Latest Month</h5> -->
                    </div>
                    <div class="ml-auto d-flex no-block align-items-center">
                        <ul class="list-inline dl m-r-15 m-b-0">
                            <li class="list-inline-item font-weight-normal"><i class="fa fa-circle text-info"></i> Mac</li>
                            <li class="list-inline-item font-weight-normal ml-2"><i class="fa fa-circle text-muted"></i> Windows</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div style="height: 300px;">
                            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                [chartType]="lineChartType">
                            </canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
</div>
