<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true">
            <mat-tab label="Equipment Types">
                <ng-template matTabContent>
                    <div class="mt-3">
                        <app-manage-types [canManage]="canManage"></app-manage-types>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Properties">
                <ng-template matTabContent>
                    <div class="mt-3">
                        <app-manage-properties [canManage]="canManage"></app-manage-properties>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Definitions">
                <ng-template matTabContent>
                    <div class="mt-3"> 
                        <app-manage-definitions [canManage]="canManage"></app-manage-definitions>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>