.type-dropdown-container,
.definition-dropdown-container {
  position: relative;
  z-index: 10;
}

// Ensure dropdowns appear above other content but below modals (z-50 = 50)
.type-dropdown-container > div > div:last-child,
.definition-dropdown-container > div > div:last-child {
  z-index: 40;
}
