<!-- <ag-grid-angular style="height: 500px;" class="ag-theme-alpine" pagination=true [rowData]="rowData"
    [columnDefs]="columnDefs" rowSelection="multiple">
</ag-grid-angular> -->

<ag-grid-angular
      #agGrid
      style="width: 100%; height: 600px;"
      id="myGrid"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)">
</ag-grid-angular>