<ng-container *ngIf="properties != undefined">
    <table class="table">
        <tr *ngFor="let prop of properties"  class="align-middle">
            <td>
                <p class="prop-lbl mr-3 font-weight-bold py-1 m-0">{{ prop.displayName }}
                    <i class="mdi mdi-information-outline" *ngIf="prop.description != undefined"
                        [matTooltip]="prop.description">
                    </i>
                </p>
            </td>
            <td>
                <p class="py-1 m-0">{{ prop.value }}</p>
            </td>
        </tr>
    </table>
</ng-container>