<p *ngFor="let prop of properties" class="view-property">
    <span *ngIf="prop.dataType == undefined || prop.dataType.name == 'string' || prop.dataType.name == 'number'">
        <b>{{ prop.displayName }}: </b> {{ prop.value }}
    </span>

    <span *ngIf="prop.dataType != undefined && prop.dataType == 'boolean'">
        <!-- <mat-slide-toggle [checked]="prop.value" (change)="change('prop.')">
        </mat-slide-toggle> -->
        <b>{{ prop.displayName }}: </b> {{ prop.value }}
    </span>
</p>