<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true">
            <mat-tab label="General">
                <ng-template matTabContent>
                    <app-equipment-details-general [equipmentId]="30"></app-equipment-details-general>
                </ng-template>
            </mat-tab>
            <mat-tab label="Logs">
                <ng-template matTabContent>
                    <app-equipment-details-logs></app-equipment-details-logs>
                </ng-template>
            </mat-tab>
            <mat-tab label="Issues">
                <!-- <ng-template matTabContent>
                    <app-equipment-details-allocations></app-equipment-details-allocations>
                </ng-template> -->
                Add EquipmentIssuesComponent
            </mat-tab>
            <mat-tab label="Allocations">
                <ng-template matTabContent>
                    <app-equipment-details-allocations></app-equipment-details-allocations>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>