<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true">
            <mat-tab [label]="mainHeaderLabel">
                    <app-equipment-details-general 
                    [equipmentId]="equipmentId"
                    (archivationStatusChanged)="archivationStatusChanged()">
                    {{ 'general.loading' | translate }}
                    </app-equipment-details-general>
            </mat-tab>
            <ng-container *ngIf="equipmentSimplified.isArchieved == false">
                <mat-tab [label]="translate.instant('entities.logs')">
                    <ng-template matTabContent>
                        <app-equipment-details-logs [equipment]="equipmentSimplified">
                            {{ 'general.loading' | translate }}
                        </app-equipment-details-logs>
                    </ng-template>
                </mat-tab>
                <mat-tab  [label]="translate.instant('entities.tickets')">
                    <ng-template matTabContent>
                        <app-equipment-details-issues [equipment]="equipmentSimplified">
                            {{ 'general.loading' | translate }}
                        </app-equipment-details-issues>
                    </ng-template>
                </mat-tab>
                <mat-tab [label]="translate.instant('entities.allocations')">
                    <ng-template matTabContent>
                        <app-equipment-details-allocations [equipment]="equipmentSimplified">
                            {{ 'general.loading' | translate }}
                        </app-equipment-details-allocations>
                    </ng-template>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>