
<!-- BEFREE: [FUTURE] Implement summary room analytics -->
<!-- <div class="card">
    <div class="card-body">
        <app-summary-rooms-analytics></app-summary-rooms-analytics>
    </div>
</div>
<br> -->
<div class="card pt-3">
    <div class="card-body">
        <h2>
            {{ 'entities.rooms' | translate }}
        </h2>

        <ng-container *ngIf="claims.canManage">
            <button mat-button (click)="addNew()" class="d-block d-md-inline">
                <mat-icon class="text-primary">add</mat-icon>
                {{ 'room.add' | translate }}
            </button>
            <button mat-button (click)="addLogSelected()" class="d-block d-md-inline">
                <mat-icon class="text-primary">timeline</mat-icon>{{ 'room.addLogForSelected' | translate }}
            </button>

        </ng-container>
        <ng-container *ngIf="claims.canView">
            <button mat-button (click)="addIssue()" class="d-block d-md-inline">
                <mat-icon class="text-primary">feedback</mat-icon>{{ 'room.includeSelectedInATicket' | translate }}
            </button>
        </ng-container>
        <app-ag-grid-rooms #agGrid></app-ag-grid-rooms>
    </div>
</div>