<div class="card">
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-md-6">
                <h2>Create Log</h2>
                <br>
                <!-- Choose type (Equipment, Room, personnel) -->
                <mat-form-field appearance="fill">
                    <mat-label>Choose the addressee</mat-label>
                    <mat-select [(ngModel)]="selectedAddresseeType" (ngModelChange)="onFoodSelection1()">
                        <mat-option *ngFor="let type of addresseeTypes" [value]="type.value">
                            {{ type.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <app-chips-autocomplete *ngIf="adresseeChosen"
                    #identifierChips
                    [label]="chipsInputLabel"
                    [availableOptions]="autoCompleteOptions"
                    [alreadySelected]="alreadySelectedOptions">
                </app-chips-autocomplete>
            </div>
            <div class="col-md-6">
                form goes here
            </div>
        </div>
    </div>
</div>