<div [ngClass]="dialogRef == undefined ? 'card' : 'card cancel-margins'">
    <div class="card-body">
        <h2>
            {{ 'logs.create' | translate }}  
        </h2>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit()">
            <div class="row mt-3">
                <div class="col-md-6">
                    <br>
                    <!-- Choose type (Equipment, Room, personnel) -->
                    <mat-form-field appearance="fill">
                        <mat-label>
                            {{ 'logs.selectAddressee' | translate }}  
                        </mat-label>
                        <mat-select 
                            [(ngModel)]="selectedAddresseeType" 
                            (ngModelChange)="onAddresseeSelection()"
                            [ngModelOptions]="{standalone: true}"
                            required>
                            <mat-option *ngFor="let type of addresseeTypes" [value]="type.value">
                                {{ type.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <app-chips-autocomplete 
                        *ngIf="adresseeChosen" 
                        #addresseesChips
                        [label]="translate.instant('form.identifier')"
                        [endPoint]="adresseeEndPoint"
                        [alreadySelected]="alreadySelectedOptions"
                        required>
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-6">
                    <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model">
                    </formly-form>
                </div>
            </div>
            <br>
            <button 
                type="submit" 
                class="btn btn-gradient-primary btn-block" 
                [disabled]="formlyData.form.status=='INVALID'">
                {{ 'form.submit'  | translate }}
            </button>
        </form>
    </div>
</div>