<div class="bg-white dark:bg-[#2c2c2e] rounded-xl border border-gray-200 dark:border-[#38383a] p-6">
    <div>
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">
            {{ 'profile.ticketsClosed' | translate }}
        </h2>
        <p *ngIf="lastClosedIssues.length == 0" class="text-gray-500 dark:text-gray-400">{{ 'general.empty' | translate }}</p>
        <ng-container *ngIf="showMoreClosed == false">
            <app-issue-container 
            *ngFor="let issue of lastClosedIssues"
            [issue]="issue"
            [readonly]="true">
            </app-issue-container>
            <a mat-button *ngIf="lastClosedIssues.length > 0" (click)="showMoreClosed = true" class="text-blue-600 dark:text-blue-400 no-underline hover:underline cursor-pointer">{{ 'general.viewMore' | translate }}</a>
        </ng-container>
        <ng-container *ngIf="showMoreClosed == true">
            <app-entity-issues-list
            [endPoint]="closedIssuesEndPoint"
            [addIssueEnabled]="false"
            [showIncludeClosed]="false">
            </app-entity-issues-list>
        </ng-container>
    </div>
</div>
<div class="bg-white dark:bg-[#2c2c2e] rounded-xl border border-gray-200 dark:border-[#38383a] p-6 mt-4">
    <div>
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">{{ 'profile.ticketsCreated' | translate }}</h2>
        <p *ngIf="lastCreatedIssues.length == 0" class="text-gray-500 dark:text-gray-400">{{ 'general.empty' | translate }}</p>
        <ng-container *ngIf="showMoreCreated == false">
            <app-issue-container
            *ngFor="let issue of lastCreatedIssues"
            [issue]="issue"
            [readonly]="true">
            </app-issue-container>
            <a mat-button *ngIf="lastCreatedIssues.length > 0" (click)="showMoreCreated = true" class="text-blue-600 dark:text-blue-400 no-underline hover:underline cursor-pointer">{{ 'general.viewMore' | translate }}</a>
        </ng-container>
        <ng-container *ngIf="showMoreCreated == true">
            <app-entity-issues-list
            [endPoint]="createdIssuesEndPoint"
            [addIssueEnabled]="false"
            [showIncludeClosed]="false">
            </app-entity-issues-list>
        </ng-container>
    </div>
</div>
<div class="bg-white dark:bg-[#2c2c2e] rounded-xl border border-gray-200 dark:border-[#38383a] p-6 mt-4">
    <div>
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">{{ 'profile.ticketsAssigned' | translate }}</h2>
        <p *ngIf="lastAssignedIssues.length == 0" class="text-gray-500 dark:text-gray-400">{{ 'general.empty' | translate }}</p>
        <ng-container *ngIf="showMoreAssigned == false">
            <app-issue-container
            *ngFor="let issue of lastAssignedIssues"
            [issue]="issue"
            [readonly]="true">
            </app-issue-container>
            <a mat-button *ngIf="lastAssignedIssues.length > 0" (click)="showMoreAssigned = true" class="text-blue-600 dark:text-blue-400 no-underline hover:underline cursor-pointer">{{ 'general.viewMore' | translate }}</a>
        </ng-container>
        <ng-container *ngIf="showMoreAssigned == true">
            <app-entity-issues-list
            [endPoint]="assignedIssuesEndPoint"
            [addIssueEnabled]="false"
            [showIncludeClosed]="false">
            </app-entity-issues-list>
        </ng-container>
    </div>
</div>