/* You can add global styles to this file, and also import other style files */

/* Tailwind CSS v4 */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import './assets/scss/variables';
@import "compass-mixins/lib/compass";
@import "compass-mixins/lib/animate";
@import "bootstrap/scss/bootstrap";
@import "./assets/scss/fonts";
@import "./assets/scss/functions";

/* === Icon fonts === */
@import "@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";

/* === Core Styles === */
@import "./assets/scss/background";
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/accordions";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/tooltips";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/bootstrap-alerts";
@import "./assets/scss/components/tabs";
@import "./assets/scss/components/dropdowns";
@import "./assets/scss/components/date-picker";
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/portfolio";
@import "./assets/scss/components/todo-list";

// @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
// @import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";

@import "./assets/scss/components/landing-screens/auth";

/* === Layout === */
@import "./assets/scss/layout";

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

formly-field-mat-radio {
  .mat-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .mat-radio-button {
    margin: 5px;
  }
}

.success-snackbar {
  background: #5cdb95;
}

.error-snackbar {
  background: #c7493a;
}

.default-snackbar {
  background: white;
  color: black;
}

.mat-simple-snackbar .mat-button-wrapper {
  color: white;
}

.default-snackbar .mat-button-wrapper {
  color: black;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.load-wrapp {
  text-align: center;

  .load-wrapp:last-child {
    margin-right: 0;
  }

  .letter-holder {
    padding: 16px;
    margin: 0;
    text-align: center;
  }

  .letter {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #5548E0;
  }

  .load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
  }

  .l-1 {
    animation-delay: 0.48s;
  }

  .l-2 {
    animation-delay: 0.6s;
  }

  .l-3 {
    animation-delay: 0.72s;
  }

  .l-4 {
    animation-delay: 0.84s;
  }

  @keyframes loadingF {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .mat-slide-toggle {
    width: 100%;
    display: inline-block;
    flex: none;
  }
}

.center-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  min-width: 100px;
  max-width: 280px;
}

.medium-font-size {
  font-size: 20px;
}

.big-font-size {
  font-size: 32px;
}

.small-font-size {
  font-size: 10px;
}

.clickable {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .page-body-wrapper {
    padding: 70px 7px 0px;
  }

  .mat-dialog-container{
    padding: 14px !important;
  }
}

.mat-dialog-container{
  min-width: 35vw;
}

.text-justify {
  text-align: justify;
}

// Stands for margin-auto
.m-a {
  margin: auto;
}

.h-0 {
  height: 0;
}


// Angular material components override
.mat-expansion-panel-header {
  height: auto !important;
}

.property-container {
  max-width: 800px;
  min-width: 270px;
}

.ngx-pagination{
  margin: 0 !important;
  padding: 0 !important;
}

.card {
  .limit {
    min-width: 280px !important;
  }
}

// Bootstrap component styles overrides
@media screen and (max-width: 991px) {
  .card-body {
    padding: 10px !important;
  }

  .page-body-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

button {
  white-space: normal !important;
}

.mat-button {
  .mat-icon {
    margin: 0 !important;
  }
}

.mat-icon{
  margin: 0 !important;
  vertical-align: middle !important;
}

.cancel-margins {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important; 
  margin-left: 0 !important;
}

.profile-photo{
  border-radius: 50%;
}

.unoffensive-shadow{
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16);
}

// Intermitent light effect

@keyframes taadaa { 
  0% {
      opacity: 0.2;
  }
  
  30% {
      opacity: 1;
  }
      
  70% {
      opacity: 1
  }

  100% {
      opacity: 0.2;
  }
}

.intermitent-light{
  animation: taadaa 5s infinite;
}

// TEMS loading animation with staggered bounce
@keyframes bounce-letter {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bounce-letter-1 {
  animation: bounce-letter 1s ease-in-out infinite;
  animation-delay: 0s;
}

.bounce-letter-2 {
  animation: bounce-letter 1s ease-in-out infinite;
  animation-delay: 0.1s;
}

.bounce-letter-3 {
  animation: bounce-letter 1s ease-in-out infinite;
  animation-delay: 0.2s;
}

.bounce-letter-4 {
  animation: bounce-letter 1s ease-in-out infinite;
  animation-delay: 0.3s;
}