// Custom Theming for Angular Material
@use '@angular/material' as mat;

@include mat.core();

$demo1-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$demo1-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$demo1-warn: mat.m2-define-palette(mat.$m2-red-palette);

$demo1-theme: mat.m2-define-light-theme((
  color: (
    primary: $demo1-primary,
    accent: $demo1-accent,
    warn: $demo1-warn,
  )
));

@include mat.all-component-themes($demo1-theme);
