<mat-form-field class="tems-chip-list">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-list #chipList aria-label="Option selection">
      <mat-chip
        *ngFor="let op of options"
        [disabled]="disabled"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(op)">
        {{ op.label }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="placeholder"
        #optionInput
        [disabled]="disabled"
        [formControl]="formCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>