<h3>Add User</h3>
<form [formGroup]="formlyData.form" (ngSubmit)="onSubmit()">
    <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
    
    <app-chips-autocomplete
        #rolesChips
        label="Assign roles" 
        [availableOptions]="rolesOptions">
    </app-chips-autocomplete>
    <br>

    <app-chips-autocomplete
        #personnelChips 
        label="Assign personnel record to this user" 
        [availableOptions]="personnelOptions" 
        maxOptionsSelected="1">
    </app-chips-autocomplete>
    <br>
    <br>
    <button type="submit" class="btn btn-gradient-primary mr-2"
    [disabled]="formlyData.form.status=='INVALID'">Submit</button>
</form>