<h2 class="mt-3">Allocations</h2>
<h3 *ngIf="equipmentNotAllocated" class="text-muted">
    This equipment is deposited, it's not allocated to anyone currently.
</h3>
<button mat-button (click)="addAllocation()">
    <mat-icon class="text-primary">add</mat-icon>Create new allocation
</button>
<br>
<hr>
<ng-container *ngIf="loading == true">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <app-loading-placeholder></app-loading-placeholder>
</ng-container>
<ng-container *ngFor="let allocation of allocations | paginate: { itemsPerPage: 10, currentPage: pageNumber, id: 'allocations' }; let i = index">
    <app-equipment-allocation-container 
        [allocation]="allocation"
        [canManage]="canManage"
        (allocationRemoved)="allocationRemoved(i)"
        (allocationReturned)="allocationReturned(i)">
    </app-equipment-allocation-container>
</ng-container>
<!-- <mat-card -->
    <!-- *ngFor="let allocation of allocations | paginate: { itemsPerPage: 10, currentPage: pageNumber, id: 'allocations' }; let i = index" -->
    <!-- class="mb-2 fade-in"> -->

    <!-- <div class="text-center">
        <mat-icon class="text-primary">computer</mat-icon>
        {{ allocation.equipment.label }} ({{allocation.equipment.additional}})
        <mat-icon class="text-primary mr-3 ml-3">east</mat-icon>
        <button *ngIf="allocation.room != undefined" mat-button>
            <mat-icon class="text-primary" (click)="viewRoom(allocation.room.value)">pin_drop</mat-icon> {{
            allocation.room.label }}
        </button>
        <button *ngIf="allocation.personnel != undefined" mat-button>
            <mat-icon class="text-primary" (click)="viewPersonnel(allocation.personnel.value)">
                account_circle
            </mat-icon> {{ allocation.personnel.label }}
        </button>
    </div>
    
    <div class="mt-2 mb-2 text-center">
        <p class="text-muted">Allocated: {{ allocation.dateAllocated | date:'medium' }}</p>
        <p *ngIf="allocation.dateReturned != undefined">
            <span class="text-muted">Returned: {{ allocation.dateReturned | date:'medium' }}</span>
        </p>
    </div>

    <ng-container *ngIf="canManage">
        <button mat-button (click)="return(allocation.id, (pageNumber-1)*10 + i)" *ngIf="allocation.dateReturned == undefined">
            <mat-icon class="text-primary">assignment_returned</mat-icon>Mark as returned
        </button>
        <button mat-button (click)="remove(allocation.id, (pageNumber-1)*10 + i)">
            <mat-icon class="text-danger">delete</mat-icon>Remove
        </button>
    </ng-container> -->

<!-- </mat-card> -->
<pagination-controls (pageChange)="pageNumber = $event" id="allocations"
    *ngIf="allocations != undefined && allocations.length > 0"></pagination-controls>

<div *ngIf="loading == false && (allocations == undefined || allocations.length == 0)">
    <img class="centerSvg fade-in" style="width: 300px;" src="assets/svgs/no-data.svg">
</div>