<br>
<H1>Equipment Types:</H1>
<hr>
<br>

<ul type="none" class="row">
    <li *ngFor="let item of types | paginate: { itemsPerPage: 10, currentPage: p1, id: 'types' }" class="col-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="item.parent != null">{{ item.parent }}</p>
                <p *ngIf="item.children != null">{{ item.children }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="viewType(item.id)">View</button>
                <button mat-button (click)="editType(item.id)">Edit</button>
                <button mat-button (click)="removeType(item.id)">Remove</button>
            </mat-card-actions>
        </mat-card>
    </li>
</ul>
<pagination-controls (pageChange)="p1 = $event" id="types"></pagination-controls>

<br>
<H1>Equipment Properties:</H1>
<hr>
<br>


<ul type="none" class="row">
    <li *ngFor="let item of properties | paginate: { itemsPerPage: 10, currentPage: p2, id: 'properties' }" class="col-3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ item.displayName }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="item.description != null">{{ item.description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="viewProperty(item.id)">View</button>
                <button mat-button (click)="editProperty(item.id)">Edit</button>
                <button mat-button (click)="removeProperty(item.id)">Remove</button>
            </mat-card-actions>
        </mat-card>
    </li>
</ul>
<pagination-controls (pageChange)="p2 = $event" id="properties"></pagination-controls>