<div [ngClass]="dialogRef == undefined ? 'card' : 'card cancel-margins'">
    <div class="card-body">
        <h2>
            {{ 'equipment.attachEquipment' | translate }}
        </h2>
        <p class="text-muted">
            {{ 'equipment.attachTip' | translate }} {{ equipment.definition.identifier }}.
        </p>
        <hr>
        <form [formGroup]="attachEquipmentFormGroup">
            <div class="row">

                <div class="col-md-6 text-center">
                    <!-- Select type -->
                    <mat-form-field>
                        <mat-label>
                            {{ 'entities.types' | translate }}
                        </mat-label>
                        <mat-select formControlName="equipmentType" (selectionChange)="typeChanged($event)">
                            <mat-option *ngFor="let type of types" [value]="type.value">
                                {{ type.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Select definition -->
                    <mat-form-field>
                        <mat-label>
                            {{ 'equipment.availableDefinitions' | translate }}
                        </mat-label>
                        <mat-select formControlName="equipmentDefinition" (selectionChange)="filterChanged()">
                            <mat-option *ngFor="let def of definitions" [value]="def.value">
                                {{ def.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <app-include-equipment-tags 
                        formControlName="includeEquipmentTags"
                        [tagOptions]="tagOptions"
                        (valueChanged)="filterChanged()"
                        includeParts="true">
                    </app-include-equipment-tags>
                </div>
                

                <!-- Include Attached mat-checkbox -->
                <div class="col-md-4">
                    <!-- <mat-checkbox formControlName="includeAttached" (change)="filterChanged()">
                        {{ 'equipment.includeAttached' | translate }}
                    </mat-checkbox>
                    <small class="d-block">
                        {{ 'equipment.includeAttached_info' | translate }}
                    </small> -->
                    
                </div>
            </div>
        </form>

        <!-- Ag Grid containing relevand equipment to be attached -->
        <ng-container *ngIf="equipmentFilter != undefined">
            <app-ag-grid-attach-equipment [parentId]="equipment.id" [equipmentFilter]="equipmentFilter"
                (attached)="attached($event)">
            </app-ag-grid-attach-equipment>
        </ng-container>
    </div>
</div>