<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add Equipment</h4>
    <p class="card-description">
      Please, provide all of the necessary data in order to register the equipment.
    </p>

    <form class="forms-sample">

    <!-- Choose Equipment Type -->
    <section>
      <h4>Equipment Type</h4>
      <div class="form-group">
        <div ngbDropdown>
          <button class="btn btn-primary" type="button" id="dropdownMenuButton1" ngbDropdownToggle>
            {{ chosenEquipmentType }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <a *ngFor="let type of types" class="dropdown-item" (click)="typeHasBeenSelected(type)">{{ type.name }}</a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Choose Equipment Definition -->
    <section *ngIf="typeSelected">
      <h4>Equipment Definition</h4>
      <div ngbDropdown class="form-group">
        <div>
          <button class="btn btn-primary" type="button" id="dropdownMenuButton2" ngbDropdownToggle>
            {{ chosenEquipmentDefinition }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
            <a *ngFor="let definition of definitionsOfType" class="dropdown-item" (click)="definitionHasBeenSelected(definition)">{{ definition.name }}</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Provide data about the equipment -->
    <section *ngIf="definitionSelected">
      <!-- <div *ngFor="let prop of selectedFullDefinition.properties" class="form-group">
        <label>{{ prop.displayName }}</label>
        <input class="form-control" [value]=prop.value>
      </div> -->
      <div class="form-group">
        <div  class="border-left mt-2 pl-3">
          <br>
          <h4>{{ selectedFullDefinition.equipmentType.name }}: {{ selectedFullDefinition.identifier }}</h4>
          <br>
          <label>Identifier</label>
          <input class="form-control" [value]=selectedFullDefinition.identifier readonly=true>
          <br>
          <label>TEMS ID</label>
          <input class="form-control" [(value)]=selectedFullDefinition.temsid>
          <br>
          <label>Serial Number:</label>
          <input class="form-control" [(value)]=selectedFullDefinition.serialNumber>
          <div  class="border-left mt-2 pl-3">
            <br>
            <h4>{{ selectedFullDefinition.equipmentType.name }}: {{ selectedFullDefinition.identifier }}</h4>
            <br>
            <label>Identifier</label>
            <input class="form-control" [value]=selectedFullDefinition.identifier readonly=true>
            <br>
            <label>TEMS ID</label>
            <input class="form-control" [(value)]=selectedFullDefinition.temsid>
            <br>
            <label>Serial Number:</label>
            <input class="form-control" [(value)]=selectedFullDefinition.serialNumber>
          </div>
        </div>
        
      </div>
    </section>
     
      <button type="submit" class="btn btn-gradient-primary mr-2" [disabled]="!readyToBeSaved">Submit</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>
</div>