<div class="card">
  <div class="card-body">
    <div class="page-header">
      <div class="page-title mt-4 mb-0">

        <!-- Header for Add equipment case -->
        <ng-container *ngIf="updateEquipmentId == undefined; else headerElseBlock">
          <h2>
            Add Equipment
          </h2>
          <small>Please, provide all of the necessary data in order to register the equipment.</small>
        </ng-container>

        <!-- Header for update equipment case -->
        <ng-template #headerElseBlock>
          <h2>
            Update Equipment information
          </h2>
        </ng-template>
        <hr>

      </div>
      <ng-container *ngIf="updateEquipmentId == undefined">
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb bg-transparent">
              <li class="breadcrumb-item" aria-current="page">
                <button mat-button [matMenuTriggerFor]="menu" aria-label="Add Equipment Menu" class="float-right">
                  Actions <mat-icon class="text-primary">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="bulkUpload()">
                    <mat-icon class="text-muted">playlist_add</mat-icon>
                    Bulk upload
                  </button>
                </mat-menu>
              </li>
          </ul>
        </nav>
      </ng-container>
    </div>

    <!-- serves the 'add-equipment' form -->
    <ng-container *ngIf="bulkUploadResults == undefined; else bulkResultElseBlock">
      
      <!-- For the Add equipment case -->
      <ng-container *ngIf="updateEquipmentId == undefined">
        <form class="forms-sample" [formGroup]="formGroup">
          
          <!-- Choose Equipment Type -->
          <ng-container class="form-group">
            <h3 class="mt-3">
              <span class="text-primary">Step 1: </span>
              Select the Type
            </h3>
            <hr>
            <mat-form-field>
              <mat-label>
                Equipment Type
              </mat-label>
              <mat-select formControlName="equipmentType" [(ngModel)]="selectedType"
                (selectionChange)="onTypeChanged($event)">
                <mat-option (click)="openAddType()">
                  + Add New
                </mat-option>
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
          
          <!-- Choose Equipment Definition -->
          <ng-container *ngIf="selectedType != undefined" class="form-group">
            <h3 class="mt-3">
              <span class="text-primary">Step 2: </span>
              Select the Definition
            </h3>
            <hr>  
            <mat-form-field>
                <mat-label>
                  Equipment Definition
                </mat-label>
                <mat-select formControlName="equipmentDefinition" [(ngModel)]="selectedDefinition"
                  (selectionChange)="onDefinitionChanged($event)">
                  <mat-option (click)="openAddDefinition()">
                    + Add New
                  </mat-option>
                  <mat-option *ngFor="let definition of definitionsOfType" [value]="definition.value">
                    {{ definition.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </ng-container>

        </form>
      </ng-container>

      <!-- Form loading bar displayed one of the following is true:
        1) It's the update case and the form has not been created yet
        2) It's the add case (a definition is selected) but the form has not been created yet -->
      <ng-container 
      *ngIf="(selectedFullDefinition != undefined || updateEquipmentId != undefined) && formlyData.isVisible == false">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>

      <!-- Display the formly form -->
      <ng-container *ngIf="formlyData.isVisible">
        <ng-container *ngIf="updateEquipmentId == undefined">
          <h3 class="mt-3">
            <span class="text-primary">Step 3: </span>
            Provide equipment information
          </h3>
          <hr>
        </ng-container>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
          <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>

          <hr class="mt-3">
          <ng-container *ngIf="updateEquipmentId != undefined">
            <p class="text-muted">
              This form can be used to update information related only to this specific equipment. If you want to
              edit children's information, you have to access them individually. Also, use 'attach' and 'deattach'
              options to add or remove children equipment.
            </p>
            <br>
            <button mat-button (click)="back()">Go back</button>
          </ng-container>
          
          <button mat-button type="submit" class="btn-gradient-primary" [disabled]="formlyData.form.status == 'INVALID'">
            Submit
          </button>
        </form>
      </ng-container>
    </ng-container>

    <!-- Display bulk upload results -->
    <ng-template #bulkResultElseBlock>
      <app-bulk-upload-results [bulkUploadResults]="bulkUploadResults"></app-bulk-upload-results>
      <button mat-button (click)="clearResults()">
        <mat-icon class="text-primary">arrow_back</mat-icon>
        Back
      </button>
    </ng-template>
  </div>
</div>