@media screen and (max-width: 991px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap
  }

  #section1 {
    margin-top: 30px;
    order: 3;
  }

  #section2 {
    order: 1;
  }

  #section3 {
    order: 2
  }
}