<div>
    <div class="row">
        <div class="col-md-3">
            <div class="card w-100">
                <div class="card-body">
                    <div
                        style="max-width: 90%; margin: auto;">
                        <img src="assets/svgs/default_avatar.svg" style="width: 100%;">
                    </div>
                    <a mat-button class="btn-block mt-3" (click)="viewPage('general')">
                        {{ 'profile.generalInformation' | translate }}
                    </a>
                    <!-- <a mat-button class="btn-block" (click)="viewPage('allocations')">Allocations</a> -->
                    <a mat-button class="btn-block" (click)="viewPage('issues')">
                        {{ 'profile.tickets' | translate }}
                    </a>
                    <a mat-button class="btn-block" (click)="viewPage('analytics')">
                        {{ 'profile.analytics' | translate }}
                    </a>
                    <a mat-button *ngIf="isCurrentUser" class="btn-block" (click)="viewPage('settings')">
                        {{ 'profile.settings' | translate }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div *ngIf="profile != undefined">
                <ng-container *ngComponentOutlet="activePage; injector: injector"></ng-container>
            </div>
        </div>
    </div>
</div>