<div>
    <div class="row">
        <div class="col-md-3 grid-margin">
            <div class="card stretch-card">
                <div class="card-body">
                    <div
                        style="max-width: 90%; max-height: 90%; padding-top: 90%; margin: auto; background-color: blueviolet;">
                    </div>
                    <a mat-button class="btn-block mt-3" (click)="viewPage('general')">General Info</a>
                    <a mat-button class="btn-block" (click)="viewPage('allocations')">Allocations</a>
                    <a mat-button class="btn-block" (click)="viewPage('issues')">Issues</a>
                    <a mat-button class="btn-block" (click)="viewPage('settings')">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 grid-margin">
            <div *ngIf="profile != undefined">
                <ng-container *ngComponentOutlet="activePage; injector: injector"></ng-container>
            </div>
        </div>
    </div>
</div>