<div class="row">
    <div class="col-md-3" class="mr-1">
        <div style="width: 200px; height: 200px; margin: auto; background-color: blueviolet;"></div>
        <a mat-button>General Info</a>
        <a mat-button>Allocations</a>
        <a mat-button>Tickets</a>
        <a mat-button>Settings</a>
    </div>
    <div class="col-md-6">
        <h2>{{ profile.fullName }}</h2>
        <p class="text-muted">{{ profile.username }}</p>
        <hr>
        <p>Some description</p>
        <p>{{ profile.email }}</p>  
    </div>
</div>
