<div class="flex flex-col h-screen">
  <!-- Navbar -->
  <app-navbar *ngIf="showNavbar" class="fixed top-0 left-0 right-0 z-50"></app-navbar>

  <!-- Main Content Area -->
  <div class="flex flex-1 overflow-hidden" [ngClass]="{'pt-16': showNavbar}">
    <!-- Sidebar as flex child -->
    <app-sidebar *ngIf="showSidebar" class="flex-shrink-0 h-full overflow-y-auto"></app-sidebar>

    <!-- Main Panel -->
    <div class="flex-1 flex flex-col overflow-hidden">
      <!-- Content Wrapper -->
      <div class="flex-1 overflow-auto">
          <!-- Loading Spinner -->
          <ng-container *ngIf="isLoading">
            <div class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-90 z-50">
              <div class="flex flex-col items-center">
                <div class="flex text-xs font-bold text-blue-500">
                  <div class="bounce-letter-1">T</div>
                  <div class="bounce-letter-2">e</div>
                  <div class="bounce-letter-3">m</div>
                  <div class="bounce-letter-4">s</div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Router Outlet -->
          <div *ngIf="!isLoading">
            <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
  <app-footer *ngIf="showFooter" class="flex-shrink-0"></app-footer>
</div>