.mat-elevation-z0:hover {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(44, 50, 50, 0.14);
    -moz-box-shadow:    0px 0px 16px 0px rgba(44, 50, 50, 0.14);
    box-shadow:         0px 0px 16px 0px rgba(44, 50, 50, 0.14);
}