<button class="btn btn-secondary btn-sm" (click)="addIssue()">+ Create issue</button>
<br>
<mat-card *ngFor="let issue of issues" class="mb-2">
    <mat-card-header>
        <p>
            {{ issue.status }} <br>
            {{ issue.problem }} <span class="text-muted float-right">{{ issue.dateCreated | date:'medium' }}</span>
        </p>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="issue.rooms != udefined">
            rooms: <span *ngFor="let room of issue.rooms"> {{ room.identifier }}</span>
        </p>
        <p *ngIf="issue.equipment != udefined">
            rooms: <span *ngFor="let equipment of issue.equipment"> {{ equipment.identifier }}</span>
        </p>
        <p *ngIf="issue.personnel != udefined">
            rooms: <span *ngFor="let personnel of issue.personnel"> {{ personnel.name }}</span>
        </p>
        <p *ngIf="issue.problemDescription != undefined">
            {{ issue.description }}
        </p>
    </mat-card-content>
</mat-card>