<div class="card">
    <div class="card-body" style="max-width: 500px;">
        <div class="card-title">Add Personnel</div>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
            <app-chips-autocomplete
                #personnelPositionsInput
                label="Personnel Positions"
                [autocompleteOptions]="personnelPositions">
            </app-chips-autocomplete>
            <br><br>
            <button 
                type="submit" 
                class="btn btn-gradient-primary mr-2"
                [disabled]="formlyData.form.status=='INVALID'">Submit</button>
        </form>
    </div>
</div>