<div class="card">
    <div class="card-body" style="max-width: 500px;">
        <div class="card-title">Add Personnel</div>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
            <ng-container *ngIf="personnelPositions != undefined">
                <app-chips-autocomplete #personnelPositionsChips label="Personnel Positions"
                    [autocompleteOptions]="personnelPositions">
                </app-chips-autocomplete>
            </ng-container>

            <app-chips-autocomplete #userChips label="Personnel - User association" [endPoint]="userService"
                [alreadySelected]="user" maxOptionsSelected="1">
            </app-chips-autocomplete>
            <small class="text-muted text-justify">
                If this personnel record is here to represent someone who already has an account,
                provide the properly Personnel - User association in order to make these entities connected. Make
                sure the indicated user does not have another personnel association.
            </small>
            <br><br>
            <button type="submit" class="btn btn-gradient-primary mr-2"
                [disabled]="formlyData.form.status=='INVALID'">Submit</button>
        </form>
    </div>
</div>