<ng-container *ngIf="equipment==undefined">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="equipment!=undefined">
    <div [ngClass]="headerClass">
        <div class="col-md-12">
            <div class="page-header">
                <div class="page-title mt-4 mb-0">
                    <h1 class="font-weight-light">
                        <h3 class="font-weight-light d-inline">{{ equipment.type.name }}</h3>
                        {{ equipment.definition.identifier }}
                    </h1>
                </div>
                <ng-container *ngIf="claims.canManage">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb bg-transparent">

                            <li class="breadcrumb-item" aria-current="page">
                                <button mat-button [matMenuTriggerFor]="menu" aria-label="Add Equipment Menu"
                                    class="float-right">
                                    Actions <mat-icon class="text-primary">more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="edit()">
                                        <mat-icon class="text-muted">edit</mat-icon>
                                        Edit
                                    </button>
                                    <button mat-menu-item *ngIf="equipment.isArchieved" (click)="archieve()"
                                        [disabled]="editing">
                                        <mat-icon class="text-muted">restore</mat-icon>
                                        Dearchieve
                                    </button>
                                    <button mat-menu-item *ngIf="!equipment.isArchieved" (click)="archieve()"
                                        [disabled]="editing">
                                        <mat-icon class="text-muted">auto_delete</mat-icon>
                                        Archieve
                                    </button>
                                    <button mat-menu-item (click)="changeWorkingState()" [disabled]="editing">
                                        <ng-container *ngIf="equipment.isDefect">
                                            <mat-icon class="text-success">done</mat-icon>
                                            Mark as working
                                        </ng-container>
                                        <ng-container *ngIf="!equipment.isDefect">
                                            <mat-icon class="text-muted">error</mat-icon>
                                            Mark as defect
                                        </ng-container>
                                    </button>
                                    <button mat-menu-item (click)="changeUsingState()" [disabled]="editing"
                                        class="btn-block">
                                        <ng-container *ngIf="equipment.isUsed; else eqUnused">
                                            <mat-icon class="text-muted">pause</mat-icon>
                                            Mark as unused
                                        </ng-container>
                                        <ng-template #eqUnused>
                                            <mat-icon class="text-success">play_arrow</mat-icon>
                                            Mark as used
                                        </ng-template>
                                    </button>
                                </mat-menu>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </div>

            <!-- If not editing, display equipment information -->
            <ng-container *ngIf="!editing; else elseBlock">

                <!-- Actual equipment information -->
                <h2 class="text-muted text-bold">
                    <mat-icon class="text-primary">double_arrow</mat-icon> Allocated to:
                </h2>
                <hr>
                <button mat-button *ngIf="equipment.room != undefined" (click)="viewAllocatee()">
                    <mat-icon class="text-primary">pin_drop</mat-icon> {{ equipment.room.label }}
                </button>
                <button mat-button *ngIf="equipment.personnel != undefined" (click)="viewAllocatee()">
                    <mat-icon class="text-primary">account_circle</mat-icon> {{ equipment.personnel.label }}
                </button>
                <ng-container *ngIf="equipment.room == undefined && equipment.personnel == undefined">
                    <mat-icon class="text-muted">storage</mat-icon> Deposit
                </ng-container>

                <h2 class="text-muted text-bold mt-5">
                    <mat-icon class="text-primary">sell</mat-icon> Indexed by:
                </h2>
                <hr>
                <div class="d-flex align-items-center d-flex">
                    <app-equipment-label *ngIf="equipment.temsId != undefined" [mainText]="equipment.temsId"
                        class="mr-4" matTooltip="TEMS ID">
                    </app-equipment-label>
                    <app-equipment-serial-number *ngIf="equipment.serialNumber != undefined"
                        [mainText]="equipment.serialNumber" matTooltip="Serial Number">
                    </app-equipment-serial-number>
                </div>

                <!-- Case 1: Equipment has only common properties -->
                <ng-container *ngIf="equipment.definition.properties == undefined 
                    || equipment.definition.properties.length == 0;
                    else propertyElseBlock">
                    <div class="property-container mt-5">
                        <h2 class="text-muted text-bold">Equipment properties</h2>
                        <app-property-render [properties]="generalProperties">
                        </app-property-render>
                    </div>
                </ng-container>

                <!-- Case 2: Equipment has both common and specific properties to be displayed -->
                <ng-template #propertyElseBlock>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-sm-12">
                            <!-- Common properties for each equipment go here -->
                            <h2 class="text-muted text-bold">Common properties</h2>
                            <app-property-render [properties]="generalProperties">
                            </app-property-render>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <!-- Speciic properties for current equipment go here -->
                            <h2 class="text-muted text-bold">Specific properties</h2>
                            <app-property-render [properties]="equipment.definition.properties">
                            </app-property-render>
                        </div>
                    </div>
                </ng-template>

                <ng-container *ngIf="canAttach" class="mt-3">
                    <h2 class="text-muted text-bold">
                        Equipment's Children
                    </h2>
                    <hr>
                    <button *ngIf="claims.canManage" mat-button (click)="attach()">
                        <mat-icon class="text-primary">add</mat-icon> Attach
                    </button>
                    <ng-container *ngIf="equipment.children != undefined && equipment.children.length > 0">
                        <div *ngFor="let child of equipment.children; let i = index">
                            <app-child-equipment-container [childEquipment]="child" [canManage]="claims.canManage"
                                (detached)="detached(i)">
                            </app-child-equipment-container>
                        </div>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="detachedEquipments.length > 0">
                    <h2 class="text-muted text-bold mt-5">
                        Detached equipments (These will dissapear after a refresh)
                    </h2>
                    <div *ngFor="let detachedEq of detachedEquipments">
                        <app-child-equipment-container [childEquipment]="detachedEq" canManage="false">
                        </app-child-equipment-container>
                    </div>
                </ng-container>

                <!-- Image carousel might appear here in the future -->

                <br>
            </ng-container>

            <!-- If editing, display add-equipment-component -->
            <ng-template #elseBlock>
                <app-add-equipment *ngIf="editing==true" [updateEquipmentId]="equipment.id"
                    (goBack)="ngOnInit(); editing = false;" [updateEquipmentDefinitionId]="equipment.definition.id">
                    Loading...
                </app-add-equipment>
            </ng-template>
        </div>

        <a *ngIf="displayViewMore == true" mat-button [routerLink]="'/equipment/details/' + equipment.id"
            (click)="viewMore()">View More</a>
    </div>
</ng-container>