<div class="card">
    <div class="card-body">
        <div class="card-title">
            Keys Allocation
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <h2>Key</h2>
                <app-chips-autocomplete
                    #keysIdentifierChips
                    label="Choose one or more keys to allocate"
                    [endPoint]="keysService"
                    [alreadySelected]="keysAlreadySelectedOptions">
                </app-chips-autocomplete>
            </div>
            <div class="col-md-2"> Allocate to </div>
            <div class="col-md-5">
                <h2>Personnel</h2>
                <app-chips-autocomplete
                #allocatedTo
                label="Handle keys to..."
                [endPoint]="personnelService"
                maxOptionsSelected=1>
                </app-chips-autocomplete>
            </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="submit()">Allocate</button>
        <br>
    </div>
</div>