<div class="card">
    <div class="card-body">
        <div class="card-title">
            Keys Allocation
        </div>
        <hr>
        <form [formGroup]="keyAllocationFormGroup" (submit)="submit(keyAllocationFormGroup.controls)">
            <div class="row">
                <div class="col-md-5">
                    <h2>Key</h2>
                    <app-chips-autocomplete #keysIdentifierChips label="Choose one or more keys to allocate"
                        [endPoint]="keysService" [alreadySelected]="keysAlreadySelectedOptions"
                        formControlName="keys">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-2 mt-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="text-center">
                            Allocate to
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2>Personnel</h2>
                    <app-chips-autocomplete #allocatedTo label="Handle keys to..." [endPoint]="personnelService"
                        maxOptionsSelected=1 formControlName="personnel">
                    </app-chips-autocomplete>
                </div>
            </div>
            <button mat-button type="submit" class="btn-primary mr-2">Allocate</button>
        </form>
    </div>
</div>