<div class="card">
    <div class="card-body">
        <div class="card-title">
            {{ 'key.allocations' | translate }}
        </div>
        <hr>
        <form [formGroup]="keyAllocationFormGroup" (submit)="submit(keyAllocationFormGroup.controls)">
            <div class="row">
                <div class="col-md-5">
                    <h2>{{ 'key.key' | translate }}</h2>
                    <app-chips-autocomplete #keysIdentifierChips [label]="translate.instant('key.selectForAllocation')"
                        [endPoint]="keysService" [alreadySelected]="keysAlreadySelectedOptions" formControlName="keys">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-2 mt-2">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="text-center">
                            {{ 'key.allocateTo' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <h2>{{ 'entities.personnel' | translate }}</h2>
                    <app-chips-autocomplete #allocatedTo label="Handle keys to..." [endPoint]="personnelService"
                        maxOptionsSelected=1 formControlName="personnel">
                    </app-chips-autocomplete>
                </div>
            </div>
            <button mat-button type="submit" class="btn-gradient-primary mr-2">{{ 'key.allocate' | translate }}</button>
        </form>
    </div>
</div>