<footer class="footer">
  <!-- <div class="d-sm-flex justify-content-center justify-content-sm-between py-2"> -->
  <!-- </div> -->

  <p *ngIf="currentYear != undefined" class="text-muted text-center">
    <span *ngIf="!bugReportOn; else elseBlock">
      @
    </span> 
    <ng-template #elseBlock>
      <mat-icon class="btn-bug-report" (click)="reportBug()">
        bug_report
      </mat-icon>
    </ng-template>
    {{currentYear}} BeFree | <small>
      <span (click)="toggleBugReporting()">
        Dorin Baba
      </span>
    </small> | All Rights Reserved 
  </p>
</footer>