<footer class="footer">

  <div class="text-center mb-2">
    <button mat-button class="text-muted" (click)="changeLang('ro')">
      ro
    </button>
    <button mat-button class="text-muted" (click)="changeLang('en')">
      en
    </button>
  </div>

  <p *ngIf="currentYear != undefined" class="text-muted text-center">
    <span *ngIf="!bugReportOn; else elseBlock">
      @
    </span> 
    <ng-template #elseBlock>
      <mat-icon class="btn-bug-report" (click)="reportBug()">
        bug_report
      </mat-icon>
    </ng-template>
    {{currentYear}} BeFree | <small>
      <span (click)="toggleBugReporting()">
        Dorin Baba
      </span>
    </small> | All Rights Reserved 
  </p>
</footer>