
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$demo1-primary: mat-palette($mat-indigo);
$demo1-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$demo1-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$demo1-theme: mat-light-theme((
  color: (
    primary: $demo1-primary,
    accent: $demo1-accent,
    warn: $demo1-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($demo1-theme);

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import './assets/scss/variables';
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/fonts";
@import "./assets/scss/functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";

/* === Core Styles === */
@import "./assets/scss/background";
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/accordions";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/tooltips";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/bootstrap-alerts";
@import "./assets/scss/components/tabs";
@import "./assets/scss/components/dropdowns"; 
@import "./assets/scss/components/date-picker"; 
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/portfolio";
@import "./assets/scss/components/todo-list";

// @import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
// @import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";

@import "./assets/scss/components/landing-screens/auth";

/* === Layout === */
@import "./assets/scss/layout";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog{
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

formly-field-mat-radio {
  .mat-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .mat-radio-button {
    margin: 5px;
  }
}

.success-snackbar {
  background: #5cdb95;
}

.error-snackbar{
  background: #c7493a;
}

.default-snackbar{
  background: white;
  color: black;
}

.mat-simple-snackbar .mat-button-wrapper{
  color: white;
}

.default-snackbar .mat-button-wrapper{
  color: black;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .mat-slide-toggle {
    width: 100%;
    display: inline-block;
    flex: none;
  }
}

.center-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  min-width: 100px;
  max-width: 400px;
}

.medium-font-size{
  font-size: 20px;
}

.big-font-size{
  font-size: 32px;
}

.small-font-size{
  font-size: 10px;
}

.clickable{
  cursor: pointer;
}


.load-wrapp {
  text-align: center;

  .load-wrapp:last-child {
    margin-right: 0;
  }
  
  .letter-holder {
    padding: 16px;
    margin: 0;
    text-align: center;
  }
  
  .letter {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #5548E0;
  }
  
  .load-6 .letter {
    animation-name: loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
  }
  
  .l-1 {
    animation-delay: 0.48s;
  }
  .l-2 {
    animation-delay: 0.6s;
  }
  .l-3 {
    animation-delay: 0.72s;
  }
  .l-4 {
    animation-delay: 0.84s;
  }
  
  @keyframes loadingF {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 991px) {
  .page-body-wrapper{
    padding: 70px 7px 0px;
  }
}

.text-justify {
  text-align: justify;
}
 
// Stands for margin-auto
.m-a{
  margin: auto;
}

.h-0{
  height: 0;
}


// Angular material components override
.mat-expansion-panel-header{
  height: auto !important;
}

.property-container{
  max-width: 800px;
  min-width: 400px;
}

// Bootstrap component styles overrides
@media screen and (max-width: 991px) {
  .card-body{
    padding: 10px !important;
  }

  .dashboard-logo {
    width: 70%;
    height: auto;
  }

  .page-body-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  // .col-md-12{
  //   padd
  // }

  .announcement-title-wrapper{
    text-align: center !important;
  }
}

button{
  white-space: normal !important;
}

.mat-button{
  .mat-icon{
    margin: 0 !important;
  }
}

.mat-icon {
  vertical-align: middle !important;
}
