<!--
    Sidebar Menu Items

      Items
        > View Items
        > Add Items
        > Quick Access
        > Allocate

      Rooms
        > View Rooms
        > College map
        > Allocate

      Personnnel
        > View Personnnel
        > Add Personnnel
        > Allocate

      Keys
        > View Keys
        > View Allocations
        > Allocate

      Issues
        > View Issues
        > Create Issues

      Communication
        > Announcements
        > Logs

      Libary

      Report Printing

      Administration
        > Equipment Manager
        > User Manager
        > Role Manager
        > System Configuration
-->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item" *ngFor="let sidebarNavItem of sidebarNavItems"  [class]="{ 'active' : sidebarNavItem.isActive }">

      <!-- if it contains submenu -->
      <div *ngIf="sidebarNavItem.submenu.length != 0">
        <a class="nav-link" (click)="sidebarNavItem.showSubmenu = !sidebarNavItem.showSubmenu; sidebarNavItem.isActive = !sidebarNavItem.isActive"
          [attr.aria-expanded]="sidebarNavItem.showSubmenu" aria-controls="ui-basic" >
          <span class="menu-title">{{ sidebarNavItem.title }}</span>
          <i class="menu-arrow"></i>
          <i [class]="sidebarNavItem.icon"></i>
        </a>
        <div class="collapse" id="ui-basic" [ngbCollapse]="!sidebarNavItem.showSubmenu">
          <ul class="nav flex-column sub-menu">
            <li *ngFor="let submenu of sidebarNavItem.submenu" class="nav-item">
              <a class="nav-link" [routerLink]="submenu.path">{{ submenu.title }} <i [class]="submenu.icon"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="sidebarNavItem.submenu.length == 0">
        <a class="nav-link" [routerLink]="sidebarNavItem.path" >
          <span class="menu-title">{{ sidebarNavItem.title }}</span>
          <i [class]="sidebarNavItem.icon"></i>
        </a>
      </div>
    </li>

    <!-- <li class="nav-item"
      [ngClass]="{'active' : view.isActive  || add.isActive || quickaccess.isActive || allocate.isActive }">
      <a class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed"
        aria-controls="ui-basic">
        <span class="menu-title">Items</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/accordions" routerLinkActive=""
              #view="routerLinkActive">View</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/buttons" routerLinkActive="active"
              #add="routerLinkActive">Add</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/badges" routerLinkActive="active"
              #quickaccess="routerLinkActive">Quick Access</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="basic-ui/breadcrumbs" routerLinkActive="active"
              #allocate="routerLinkActive">Allocate</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title"></span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>


    <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
      <a class="nav-link" routerLink="forms/basic-elements" routerLinkActive #forms="routerLinkActive">
        <span class="menu-title">Form elements</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': charts.isActive }">
      <a class="nav-link" routerLink="charts/chartjs" routerLinkActive #charts="routerLinkActive">
        <span class="menu-title">Charts</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
      <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
        <span class="menu-title">Tables</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': icons.isActive }">
      <a class="nav-link" routerLink="icons/mdi" routerLinkActive #icons="routerLinkActive">
        <span class="menu-title">Icons</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item"
      [ngClass]="{ 'active' : blankPage.isActive || login.isActive || register.isActive || error404.isActive || error500.isActive }">
      <a class="nav-link" (click)="samplePagesCollapsed = !samplePagesCollapsed"
        [attr.aria-expanded]="samplePagesCollapsed" aria-controls="auth">
        <span class="menu-title">Sample Pages</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-medical-bag menu-icon"></i>
      </a>
      <div class="collapse" id="auth" [ngbCollapse]="!samplePagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="general-pages/blank-page" routerLinkActive="active"
              #blankPage="routerLinkActive"> Blank Page </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/login" routerLinkActive="active"
              #login="routerLinkActive"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="user-pages/register" routerLinkActive="active"
              #register="routerLinkActive"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/404" routerLinkActive="active"
              #error404="routerLinkActive"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="error-pages/500" routerLinkActive="active"
              #error500="routerLinkActive"> 500 </a></li>
        </ul>
      </div>
    </li> -->
  </ul>
</nav>