<h3>{{ 'key.add' | translate }}</h3>
<hr>
<form [formGroup]="formlyData.form" (ngSubmit)="onSubmit()">
    <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
    <app-chips-autocomplete #room label="Select a room" [endPoint]="roomsService" placeholder="Room Identifier"
        maxOptionsSelected="1">
    </app-chips-autocomplete>
    <br>
    <button type="submit" class="btn btn-gradient-primary mr-2"
        [disabled]="formlyData.form.status=='INVALID'">
        {{ 'form.submit' | translate }}
    </button>
</form>