<div class="m-4">
    <h3 class="mb-3">Create personnel - user association</h3>
    <form [formGroup]="userAssociationFormGroup">
        <app-chips-autocomplete
        #user
        formControlName="user"
        label="Select the user to connect with"
        [endPoint]="userService"
        maxOptionsSelected="1">
        </app-chips-autocomplete>
        <button 
        type="submit" 
        class="btn btn-gradient-primary mr-2"
        [disabled]="user.options.length != 1"
        (click)="submit()">Submit</button>
    </form>
</div>