<mat-card class="mb-2" *ngIf="allocation != undefined">
    <div class="page-header m-0">
        <div class="page-title mb-0 template-title m-a">
            <div class="col-md-12 text-center">
                <ng-container class="d-block d-sm-inline">
                    <button mat-button (click)="viewEquipment(allocation.equipment.value)">
                        <mat-icon class="text-primary">
                            computer
                        </mat-icon>
                        {{ allocation.equipment.label }} ({{allocation.equipment.additional}})
                    </button>
                </ng-container>

                <ng-container class="d-block d-sm-inline">
                    <mat-icon class="text-primary mr-3 ml-3 d-none d-sm-inline">east</mat-icon>
                    <mat-icon class="text-primary d-block d-sm-none text-center m-a">south</mat-icon>
                </ng-container>

                <ng-container *ngIf="allocation.room != undefined" class="d-block d-sm-inline">
                    <button mat-button (click)="viewRoom(allocation.room.value)">
                        <mat-icon class="text-primary">
                            pin_drop
                        </mat-icon>
                        {{ allocation.room.label }}
                    </button>
                </ng-container>

                <ng-container *ngIf="allocation.personnel != undefined" class="d-block d-sm-inline">
                    <button mat-button (click)="viewPersonnel(allocation.personnel.value)">
                        <mat-icon class="text-primary">
                            account_circle
                        </mat-icon>
                        {{ allocation.personnel.label }}
                    </button>
                </ng-container>
                
                <div class="mt-2 mb-2 text-center">
                    <p class="m-0">
                        <small class="text-muted">
                            Allocated: {{ allocation.dateAllocated | date:'medium' }}
                        </small>
                    </p>
                    <p *ngIf="allocation.dateReturned != undefined" class="m-0">
                        <small class="text-muted">
                            Returned: {{ allocation.dateReturned | date:'medium' }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <nav aria-label="breadcrumb" (click)="$event.stopPropagation()" *ngIf="canManage">
            <ul class="breadcrumb bg-transparent m-1 p-0">
                <li class="breadcrumb-item" aria-current="page">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Add Equipment Menu"
                        class="float-right">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="return()" *ngIf="allocation.dateReturned == undefined">
                            <mat-icon class="text-muted">assignment_returned</mat-icon>
                            Mark as returned
                        </button>
                        <button mat-menu-item (click)="remove()">
                            <mat-icon class="text-muted">delete</mat-icon>
                            Remove
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </nav>
    </div>
</mat-card>