<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/logo.svg" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"
      (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-right">

      <ng-container *ngIf="loggedIn">
        <!-- notifications -->
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle
          (click)="markNotificationsAsSeen()">
            <i class="mdi mdi-bell-outline"></i>
            <span *ngIf="newNotifications != undefined && newNotifications.length > 0 " class="count-symbol bg-danger"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" 
            ngbDropdownMenu 
            aria-labelledby="notificationDropdown">
            <div class="page-header p-1 m-0">
              <h6 class="page-title">
                {{ 'navbar.notifications' | translate }}
              </h6>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb p-0 m-0">
                  <li class="breadcrumb-item p-0 m-0 active" aria-current="page">
                    <a class="m-0 p-1" [ngClass]="refreshing ? '' : 'clickable'" (click)="fetchLastNotifications(true)">
                      <mat-icon class="text-muted">refresh</mat-icon>
                    </a>
                  </li>
                </ul> 
              </nav>
            </div>
            <div class="dropdown-divider"></div>
            
            <!-- There are no notifications -->
            <ng-container *ngIf="notifications == undefined || notifications.length == 0">
              <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <div class="container">
                  <p class="text-muted text-center mt-2">{{ 'navbar.noNotificationsPlaceholder' | translate }}</p>
                </div>
              </div>  
            </ng-container>
            
            <!-- There are some notifications -->
            <ng-container *ngIf="notifications != undefined && notifications.length > 0">
              <ng-container *ngFor="let noti of notifications">
                <div class="dropdown-item-simple" [ngClass]="!noti.seen ? 'bg-info' : ''">
                    <p class="preview-subject mb-0"><b>{{ noti.title }}</b></p>
                    <small class="text-muted">{{ noti.dateCreated | date:'short' }}</small>
                    <p class="text-gray ellipsis mb-0">
                      {{ noti.message }}
                    </p>
                </div>
              </ng-container>
              <div class="dropdown-divider"></div>
              <a mat-button class="btn-block" (click)="displayAllNotifications()" ngbDropdownToggle>
                <h6 class="p-3 mb-0 text-center">{{ 'navbar.viewAll' | translate }}</h6>
              </a>
            </ng-container>
          </div>
        </li>

        <!-- user image & hyperlinks -->
        <li class="nav-item nav-profile dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
            <div class="nav-profile-img">
              <img src="assets/svgs/default_avatar.svg" alt="image">
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">{{ username }}</p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
            <a class="dropdown-item" routerLink="profile/view">
              <mat-icon class="text-warning">person</mat-icon>{{ 'user.profile' | translate }}
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="signOut()">
              <i class="mdi mdi-logout mr-2 text-primary"></i>
              {{ 'user.signOut' | translate }}
            </a>
          </div>
        </li>
      </ng-container>

      <ng-container *ngIf="loggedIn == false">
        <a routerLink="auth/login">
          <p class="text-gray ellipsis mb-0">
            {{ 'user.logIn' | translate }}
          </p>
        </a>
      </ng-container>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-under-1150 align-self-center" type="button"
      (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>