<div class="card">
    <div class="card-body">
        <h2>
            <mat-icon class="text-primary">filter_alt_outline</mat-icon>
            {{ 'allocation.filterAllocations' | translate }}
        </h2>
        <form [formGroup]="filterAllocationsFormGroup">
            <div class="row">
                <div class="col-md-6 col-sm-12 fade-in">
                    <app-chips-autocomplete 
                    [label]="translate.instant('allocation.selectEquipmentLabel')"
                    formControlName="equipment"
                    [endPoint]="equipmentService"
                    (dataCollected)="filtersChanged()"
                    (dataRemoved)="filtersChanged()">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-6 col-sm-12 fade-in">
                    <app-chips-autocomplete [label]="translate.instant('entities.rooms')"
                    formControlName="rooms"
                    [endPoint]="roomService"
                    (dataCollected)="filtersChanged()"
                    (dataRemoved)="filtersChanged()">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-6 col-sm-12 fade-in">
                    <app-chips-autocomplete [label]="translate.instant('entities.personnel')"
                    formControlName="personnel"
                    [endPoint]="personnelService"
                    (dataCollected)="filtersChanged()"
                    (dataRemoved)="filtersChanged()">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-6 col-sm-12 fade-in">
                    <app-chips-autocomplete [label]="translate.instant('entities.definitions')"
                    formControlName="definitions"
                    [endPoint]="definitionService"
                    (dataCollected)="filtersChanged()"
                    (dataRemoved)="filtersChanged()">
                    </app-chips-autocomplete>
                </div>
            </div>
        </form>
        <mat-tab-group [@.disabled]="true">
            <mat-tab [label]="translate.instant('allocation.open')">
                <app-entity-allocations-list
                    [equipmentIds]="equipments"
                    [personnelIds]="personnel"
                    [roomIds]="rooms"
                    [definitionIds]="definitions"
                    onlyActive="true">
                    {{ 'general.loading' | translate }}
                </app-entity-allocations-list>
            </mat-tab>
            <mat-tab [label]="translate.instant('allocation.closed')">
                <ng-template matTabContent>
                    <app-entity-allocations-list
                    [equipmentIds]="equipments"
                    [personnelIds]="personnel"
                    [roomIds]="rooms"
                    [definitionIds]="definitions"
                    onlyClosed="true">
                    {{ 'general.loading' | translate }}
                    </app-entity-allocations-list>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>