<br>
<div class="card">
    <div class="card-body">
        <mat-tab-group>
            <mat-tab [label]="translate.instant('key.unallocated')">
                <div class="col-md-12 mt-3">
                    <!-- <h2>
                        {{ 'key.unallocatedKeys' | translate }}
                    </h2> -->
                    <button *ngIf="claims.canManage || claims.canAllocateKeys" mat-button (click)="addKey()">
                        <mat-icon class="text-primary">add</mat-icon>
                        {{ 'key.add' | translate }}:
                    </button>
                    <button *ngIf="claims.canAllocateKeys" mat-button (click)="allocateSelectedKeys()">
                        <mat-icon class="text-primary">double_arrow</mat-icon>
                        {{ 'key.allocateSelected' | translate }}
                    </button>
                    <hr>
                    <app-ag-grid-keys #unallocated [loading]="loading" [keys]="unallocatedKeys"
                        (keyAllocated)="keyAllocated($event)">
                    </app-ag-grid-keys>
                </div>
            </mat-tab>
            <mat-tab [label]="translate.instant('key.allocated')">
                <div class="col-md-12 mt-3">
                    <!-- <h2>
                        {{ 'key.allocatedKeys' | translate }}
                    </h2> -->
                    <button *ngIf="claims.canAllocateKeys" mat-button (click)="returnMultipleKeys()">
                        <mat-icon class="text-primary">done</mat-icon>
                        {{ 'key.markSelectedAsReturned' | translate }}
                    </button>
                    <hr>
                    <app-ag-grid-keys #allocated [keys]="allocatedKeys" [loading]="loading" displayAsAllocated="true"
                        (keyReturned)="singleKeyReturned($event)">
                    </app-ag-grid-keys>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>