<div class="container" appDnd (fileDropped)="onFilesSelected($event)" (dragleave)="dragLeave($event)"
    (dragover)="dragOver($event)" #dropContainer>
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="onFilesSelected($event.target.files)" />

    <h3>
        <b>{{ 'fileUpload.dragDrop' | translate }}</b>
    </h3>

    <button for="fileDropRef" class="btn btn-gradient-primary">
        {{ 'fileUpload.browse' | translate }}
    </button>

    <p class="text-muted text-center mt-3 mb-2">
        <mat-icon class="text-primary">description</mat-icon>{{ nrOfFiles }} {{ 'fileUpload.filesSelected' | translate }}
    </p>
</div>