<div class="row">
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="font-medium font-16 text-uppercase">Total Visits</h4>
                        <div class="d-flex align-items-center mb-1">
                            <span class="text-muted">Success</span>
                            <div class="ml-auto">
                                <h5 class="font-medium text-success mb-0">60%</h5>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-success" style="width: 85%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="font-medium font-16 text-uppercase">TOTAL PAGE VIEWS</h4>
                        <div class="d-flex align-items-center mb-1">
                            <span class="text-muted">Pending</span>
                            <div class="ml-auto">
                                <h5 class="font-medium text-info mb-0">60%</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-info" style="width: 40%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="font-medium font-16 text-uppercase">UNIQUE VISITOR</h4>
                        <div class="d-flex align-items-center mb-1">
                            <span class="text-muted">Paused</span>
                            <div class="ml-auto">
                                <h5 class="font-medium text-danger mb-0">60%</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-danger" style="width: 56%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4 class="font-medium font-16 text-uppercase">Total Sales</h4>
                        <div class="d-flex align-items-center mb-1">
                            <span class="text-muted">Success</span>
                            <div class="ml-auto">
                                <h5 class="font-medium text-inverse mb-0">60%</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                class="progress-bar bg-inverse" style="width: 26%; height: 6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>