<div class="p-2 text-center">
    <!-- Include Equipment -->
    <div class="d-block">
        <mat-slide-toggle class="d-block" [(ngModel)]="includeEquipment" (change)="setValue()">
            {{ 'equipment.labels.includeEquipment' | translate }}
        </mat-slide-toggle>
        <small class="text-muted">
            {{ 'equipment.labels.includeEquipmentTip' | translate }}
        </small>
    </div>

    <!-- Include Components -->
    <div class="d-block mt-2">
        <mat-slide-toggle class="d-block" [(ngModel)]="includeComponents" (change)="setValue()">
            {{ 'equipment.labels.includeComponents' | translate }}
        </mat-slide-toggle>
        <small class="text-muted">
            {{ 'equipment.labels.includeComponentsTip' | translate }}
        </small>
    </div>

    <!-- Include Parts -->
    <div class="d-block mt-2">
        <mat-slide-toggle class="d-block" [(ngModel)]="includeParts" (change)="setValue()">
            {{ 'equipment.labels.includeParts' | translate }}
        </mat-slide-toggle>
        <small class="text-muted">
            {{ 'equipment.labels.includeParts' | translate }}
        </small>
    </div>
</div>