<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true" (selectedIndexChange)="matTabLazyLoader.tabChange($event)">
            <mat-tab [label]="mainHeaderLabel">
                <app-room-details-general [roomId]="roomId" (archivationStatusChanged)="archivationStatusChanged()">
                    {{ 'general.loading' | translate }}
                </app-room-details-general>
            </mat-tab>
            <ng-container *ngIf="roomSimplified.isArchieved == false">
                <mat-tab [label]="translate.instant('entities.logs')">
                    <ng-container *ngIf="matTabLazyLoader.tabsVisibility[1]">
                        <app-room-details-logs [room]="roomSimplified">
                            {{ 'general.loading' | translate }}
                        </app-room-details-logs>
                    </ng-container>
                </mat-tab>
                <mat-tab [label]="translate.instant('entities.tickets')">
                    <ng-template mat-tab-label>
                        <ng-container *ngIf="roomSimplified.activeIssues != 0; else elseIssueHeader">
                            <div [matBadge]="roomSimplified.activeIssues" matBadgeOverlap="false">
                                {{ 'entities.tickets' | translate }}
                            </div>
                        </ng-container>

                        <ng-template #elseIssueHeader>
                            {{ 'entities.tickets' | translate }}
                        </ng-template>
                    </ng-template>
                    <ng-container *ngIf="matTabLazyLoader.tabsVisibility[2]">
                        <app-room-details-issues [room]="roomSimplified">
                            {{ 'general.loading' | translate }}
                        </app-room-details-issues>
                    </ng-container>
                </mat-tab>
                <mat-tab [label]="translate.instant('entities.allocations')">
                    <ng-container *ngIf="matTabLazyLoader.tabsVisibility[3]">
                        <app-room-details-allocations [room]="roomSimplified">
                            {{ 'general.loading' | translate }}
                        </app-room-details-allocations>
                    </ng-container>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>