<div class="card">
    <div class="card-body">
        <mat-tab-group [@.disabled]="true" (selectedIndexChange)="matTabLazyLoader.tabChange($event)">
            <mat-tab [label]="translate.instant('entities.types')">
                <div class="mt-3">
                    <app-manage-types [canManage]="claims.canManageAssets"></app-manage-types>
                </div>
            </mat-tab>
            <mat-tab [label]="translate.instant('entities.properties')">
                <ng-container *ngIf="matTabLazyLoader.tabsVisibility[1]">
                    <div class="mt-3">
                        <app-manage-properties [canManage]="claims.canManageAssets"></app-manage-properties>
                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab [label]="translate.instant('entities.definitions')">
                <ng-container *ngIf="matTabLazyLoader.tabsVisibility[2]">
                    <div class="mt-3"> 
                        <app-manage-definitions [canManage]="claims.canManageAssets"></app-manage-definitions>
                    </div>
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>