<div class="card">
    <div class="card-body" style="max-width: 500px;">
        <div class="card-title">Add Room</div>

        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
            <app-chips-autocomplete
                #labels
                label="Room labels"
                [endPoint]="roomLabelService">
            </app-chips-autocomplete>
            <app-chips-autocomplete
                #supervisories
                label="Room Supervisories"
                [endPoint]="personnelService">
            </app-chips-autocomplete>
            <br>
            <button 
                type="submit" 
                class="btn btn-gradient-primary mr-2"
                [disabled]="formlyData.form.status=='INVALID'">Submit</button>
        </form>
    </div>
</div>

