<h4>Add Type</h4>
<form [formGroup]="this.formGroup">
  <app-chips-autocomplete label="Select parent type / types" formControlName="parents"
    [autocompleteOptions]="parentTypeOptions" [alreadySelected]="parentTypeAlreadySelected">
  </app-chips-autocomplete>

  <mat-form-field class="example-full-width">
    <mat-label>Type Name</mat-label>
    <input matInput placeholder="Printer" formControlName="name">
  </mat-form-field>

  <app-chips-autocomplete label="Select type's properties" formControlName="properties"
    [autocompleteOptions]="propertyOptions" [alreadySelected]="propertyAlreadySelected"></app-chips-autocomplete>
  <button class="btn btn-link btn-fw text-secondary" (click)="addProperty()">
    + {{ 'property.add' | translate }}
  </button>
  <br>
  <br>
  <button type="submit" class="btn btn-gradient-primary mr-2" (click)="onSubmit()"
    [disabled]="formGroup.status=='INVALID'">
    {{ 'form.submit' | translate }}
  </button>
</form>