<br>
<div class="card">
    <div class="card-body">
        <mat-tab-group>
            <mat-tab label="Unallocated">
                <div class="col-md-12 mt-3">
                    <h2>
                        Unallocated keys
                    </h2>
                    <button mat-button (click)="addKey()">
                        <mat-icon class="text-primary">add</mat-icon>
                        Add new
                    </button>
                    <button mat-button (click)="allocateSelectedKeys()">
                        <mat-icon class="text-primary">double_arrow</mat-icon>
                        Allocate selected
                    </button>
                    <hr>
                    <app-ag-grid-keys #unallocated [loading]="loading" [keys]="unallocatedKeys"
                        (keyAllocated)="keyAllocated($event)">
                    </app-ag-grid-keys>
                </div>
            </mat-tab>
            <mat-tab label="Allocated">
                <div class="col-md-12 mt-3">
                    <h2>
                        Allocated keys
                    </h2>
                    <button mat-button (click)="returnMultipleKeys()">
                        <mat-icon class="text-primary">done</mat-icon>
                        Mark selected as returned
                    </button>
                    <hr>
                    <app-ag-grid-keys #allocated [keys]="allocatedKeys" [loading]="loading" displayAsAllocated="true"
                        (keyReturned)="singleKeyReturned($event)">
                    </app-ag-grid-keys>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>