<br>
<div class="card">
    <div class="card-body">
        <mat-tab-group>
            <mat-tab label="Unallocated">
                <br>
                <br>
                <button class="btn btn-primay" (click)="allocateSelectedKeys()">Allocate selected keys</button>
                <button class="btn btn-primay" (click)="addKey()">+ Add new</button>
                <app-ag-grid-keys #agGridKeys [keys]="unallocatedKeys">
                </app-ag-grid-keys>
            </mat-tab>
            <mat-tab label="Allocated">
                <br>
                <br>
                <button class="btn btn-primay" (click)="allocateSelectedKeys()">Allocate selected keys</button>
                <button class="btn btn-primay" (click)="addKey()">+ Add new</button>
                <app-ag-grid-keys [keys]="allocatedKeys" displayAsAllocated="true">
                </app-ag-grid-keys>
            </mat-tab>
        </mat-tab-group>
   
   
    </div>
</div>
