<div class="card">
    <div class="card-body">
        <div class="card-title">
            Equipment Allocation
        </div>
        <hr>
        <form [formGroup]="equipmentAllocationFormGroup" (submit)="submit(equipmentAllocationFormGroup.controls)">
            <div class="row">
                <div class="col-md-12">
                    <app-chips-autocomplete #equipmentIdentifierChips label="Choose the equipment you want to allocate..."
                        [alreadySelected]="equipmentAlreadySelectedOptions" [endPoint]="equipmentService"
                        placeholder="TEMSID or Serial Number"
                        formControlName="equipment">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill">
                        <mat-label>Allocate to</mat-label>
                        <mat-select (ngModelChange)="onSelection()" formControlName="allocateToType">
                            <mat-option *ngFor="let type of allocateToTypes" [value]="type.value">
                                {{ type.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-9">
                    <app-chips-autocomplete #allocatedTo [label]="allocatedToChipsInputLabel"
                        [alreadySelected]="allocatedToAlreadySelectedOptions" [endPoint]="alocateeEndPoint"
                        maxOptionsSelected="1" formControlName="allocateTo">
                    </app-chips-autocomplete>
                </div>
            </div>
            <button 
                mat-button
                type="submit" 
                class="btn-primary mr-2">
                Create allocation
            </button>
        </form>
        <br>
    </div>
</div>