<div class="card">
    <div class="card-body">
        <div class="card-title">
            Equipment Allocation
        </div>
        <br>
        <div class="row">
            <div class="col-md-5">
                <h2>Equipment (TEMSID or Serial Number)</h2>
                <app-chips-autocomplete
                    #equipmentIdentifierChips
                    label="Choose one or more equipments..."
                    [availableOptions]="equipmentAutoCompleteOptions"
                    [alreadySelected]="equipmentAlreadySelectedOptions">
                </app-chips-autocomplete>
            </div>
            <div class="col-md-2"> => </div>
            <div class="col-md-5">
                <mat-form-field appearance="fill">
                    <mat-label>Allocate to</mat-label>
                    <mat-select [(ngModel)]="selectedAllocateToType" (ngModelChange)="onSelection()">
                        <mat-option *ngFor="let type of allocateToTypes" [value]="type.value">
                            {{ type.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <app-chips-autocomplete
                #allocatedTo
                [label]="allocatedToChipsInputLabel"
                [availableOptions]="allocatedToAutoCompleteOptions"
                [alreadySelected]="allocatedToAlreadySelectedOptions"
                maxOptionsSelected="1">
                </app-chips-autocomplete>
            </div>
        </div>
        <button class="btn btn-primary btn-block" (click)="submit()">Allocate</button>
        <br>
    </div>
</div>