@import '../../../styles.scss';

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-elevation-z0:hover {
  -webkit-box-shadow: 0px 0px 16px 0px rgba(44, 50, 50, 0.14);
  -moz-box-shadow: 0px 0px 16px 0px rgba(44, 50, 50, 0.14);
  box-shadow: 0px 0px 16px 0px rgba(44, 50, 50, 0.14);
}

input[type="button"] {
  margin-top: 20px;
}

h2 {
  font-size: 1.5em;
}

.node {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: theme-color(primary);
}

.divider {
  padding: 10px;
  margin-left: 3px;
  border-left: 4px solid theme-color(secondary);
}

li p {
  display: inline-block;
  margin-left: 25px;
}

li {
  list-style: none;
  line-height: 1px;
}