<div class="card">
    <div class="card-body">
        <div class="card-title">Create new Issue</div>
        <form [formGroup]="formlyData.form" (ngSubmit)="onSubmit(formlyData.model)">
            <formly-form [form]="formlyData.form" [fields]="formlyData.fields" [model]="formlyData.model"></formly-form>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <app-chips-autocomplete #rooms label="Select one or more rooms..."
                        [availableOptions]="roomsAutoCompleteOptions" 
                        [alreadySelected]="roomsAlreadySelected">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-4">
                    <app-chips-autocomplete #equipment label="Equipments' TEMSID or Serial Number..."
                        [availableOptions]="equipmentAutoCompleteOptions"
                        [alreadySelected]="equipmentAlreadySelected">
                    </app-chips-autocomplete>
                </div>
                <div class="col-md-4">
                    <app-chips-autocomplete #personnel label="People who need help..."
                        [availableOptions]="personnelAutocompleteOptions"
                        [alreadySelected]="personnelAlreadySelected">
                    </app-chips-autocomplete>
                </div>
            </div>

            <div *ngIf="isRegistered">
                <hr>
                <app-chips-autocomplete #assignees label="Assign this issue to..."
                    [availableOptions]="personnelAutocompleteOptions" 
                    [alreadySelected]="personnelAlreadySelected">
                </app-chips-autocomplete>
            </div>
            <!-- 3 chips go here -->
            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
        </form>
    </div>
</div>