<ng-container *ngIf="personnel==undefined">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="personnel != undefined">
    <div  [class]="headerClass">
        <h1>
            <b>{{ personnel.name }}</b>
        </h1>
        <button *ngIf="!personnel.isArchieved" mat-button (click)="edit()">Edit</button>
        <button *ngIf="!personnel.isArchieved" mat-button (click)="archieve()">Archieve</button>
        <button *ngIf="personnel.isArchieved" mat-button (click)="archieve()">Dearchieve</button>
        <button *ngIf="!personnel.isArchieved" mat-button (click)="sendMail()">Send an email</button>
        <button *ngIf="!personnel.isArchieved" mat-button (click)="connectWithUser()">Connect it with a user record</button>
        <hr>
        <br>
        <div class="container">
            <app-property-render [properties]="personnelProperties"></app-property-render>
        </div>
        <a *ngIf="displayViewMore == true" mat-button [routerLink]="'/personnel/details/' + personnel.id" (click)="viewMore()">View More</a>
    </div>
</ng-container>