<ng-container *ngIf="personnel==undefined">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *ngIf="personnel != undefined">
    <h1>
        <b>{{ personnel.name }}</b>
    </h1>
    <button mat-button (click)="edit()">Edit</button>
    <button mat-button (click)="archieve()">Archieve</button>
    <hr>
    <br>
    <div class="container">
        <app-property-render [properties]="personnelProperties"></app-property-render>
    </div>
    <button *ngIf="displayViewMore == true" mat-button (click)="viewMore()">View More</button>
</ng-container>